<header class = 'experiences-header'>
  <section class = 'experiences-menu'>
    <ul class = 'experience-ul'>
      <li>
        <a [routerLink] = "['/experiences/rift']"> Rift</a>
      </li>
      <li>
        <a  [routerLink] = "['/experiences/gear-vr']">Gear VR</a>
      </li>
    </ul>
  </section>
  <h1>Spotlight</h1>
  <section class = 'experiences-featured'>
    
    <div>
      <a href = 'https://www.oculus.com/experiences/section/1315218531832548/'>
        <img class = 'oculus-touch-big' src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img36.jpg'>
      </a>
    </div>

    <div class = 'oculus-touch-small-wrap'>
      <div>
        <a href = 'https://www.oculus.com/experiences/section/110225432809124/'>
          <img class = 'oculus-touch-small' src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img35.jpg'>
        </a>
      </div>
      <div>
        <a href = 'https://www.oculus.com/experiences/gear-vr/1168200286607832/'>
          <img class = 'oculus-touch-small' src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img37.jpg'>
        </a>
      </div>
    </div>
    
  </section>
  <h1>Featured</h1>
  <section class = 'touch-featured'>

    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/bundles/1732609117066150/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img38.jpg'>
        <div class = 'text'>$29.99</div>
       </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/890562797701371/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img39.jpg'>
        <div class = 'text'>Free</div>
      </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/section/110225432809124/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img35.jpg'>
        
      </a>
    </div>
  
    <h2> 
      <span>See More<i class = 'dropdown-arrow'></i></span>
    </h2>
  </section>
  <h1>Winter Sale</h1>
  <section class = 'touch-featured'>

    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/1249878741704255/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img40.jpg'>
        <div class = 'text'>$6.99</div>
      </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/1058194390920956/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img41.jpg'>
        <div class = 'text'>$1.99</div>
      </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/970225196383135/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img42.jpg'>
        <div class = 'text'>$2.49</div>
      </a>
    </div>
    <h2> 
      <span>See More<i class = 'dropdown-arrow'></i></span>
    </h2>
  </section>
  <h1>Movies</h1>
  <section class = 'touch-featured'>

    <div class = 'img-container'>
       <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img43.jpg'>
       <div class = 'text'>$19.99</div>
    </div>
    <div class = 'img-container'>
      <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img44.jpg'>
      <div class = 'text'>$9.99</div>
    </div>
    <div class = 'img-container'>
      <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img45.jpg'>
      <div class = 'text'>$9.99</div>
    </div>
    <h2> 
      <span>See More<i class = 'dropdown-arrow'></i></span>
    </h2>
    </section>
    <h1>Great For Sharing</h1>
  <section class = 'touch-featured'>

    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/702313006537899/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img48.jpg'>
        <div class = 'text'>Free</div>
       </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/1168200286607832/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img37.jpg'>
        <div class = 'text'>Free</div>
      </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/1016573058409292/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img49.jpg'>
        <div class = 'text'>Free</div>
      </a>
    </div>
    <h2> 
      <span>See More<i class = 'dropdown-arrow'></i></span>
    </h2>
  </section>
  <h1>Just Released</h1>
  <section class = 'touch-featured'>

    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/1192721770816393/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img50.jpg'>
        <div class = 'text'>$0.99</div>
       </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/1232181650154576/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img51.jpg'>
        <div class = 'text'>$2.99</div>
      </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/1135654449807002/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img52.jpg'>
        <div class = 'text'>$1.99</div>
      </a>
    </div>
    <h2> 
      <span>See More<i class = 'dropdown-arrow'></i></span>
    </h2>
  </section>
  <h1>Great With Gamepad</h1>
  <section class = 'touch-featured'>

    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/994223077313205/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img56.jpg'>
        <div class = 'text'>$2.49</div>
       </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/701113843332342/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img57.jpg'>
        <div class = 'text'>$0.99</div>
      </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/930936790307567/'>
      <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img58.jpg'>
      <div class = 'text'>Free</div>
      </a>
    </div>
    <h2> 
      <span>See More<i class = 'dropdown-arrow'></i></span>
    </h2>
  </section>
  <h1>Samsung Pick</h1>
  <section class = 'touch-featured'>

    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/959775037421164/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img59.jpg'>
        <div class = 'text'>Free</div>
       </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/967457083325115/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img60.jpg'>
        <div class = 'text'>Free</div>
      </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/837075486363650/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img61.jpg'>
        <div class = 'text'>Free</div>
      </a>
    </div>
    <h2> 
      <span>See More<i class = 'dropdown-arrow'></i></span>
    </h2>
  </section>
  <h1>Games</h1>
  <section class = 'touch-featured'>

    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/942006482530009/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img62.jpg'>
        <div class = 'text'>$1.49</div>
       </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/1046887318709554/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img63.jpg'>
        <div class = 'text'>$6.99</div>
      </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/969815736436279/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img64.jpg'>
        <div class = 'text'>$4.99</div>
      </a>
    </div>
    <h2> 
      <span>See More<i class = 'dropdown-arrow'></i></span>
    </h2>
  </section>
  <h1>Entertainment</h1>
  <section class = 'touch-featured'>

    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/1058194390920956/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img41.jpg'>
        <div class = 'text'>$1.99</div>
       </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/1308431799167967/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img64.jpg'>
        <div class = 'text'>$1.99</div>
      </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/1032549980167142/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img65.jpg'>
        <div class = 'text'>$0.99</div>
      </a>
    </div>
    <h2> 
      <span>See More<i class = 'dropdown-arrow'></i></span>
    </h2>
  </section>
  <h1>Gallery Apps</h1>
  <section class = 'touch-featured'>

    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/1032549980167142/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img66.jpg'>
        <div class = 'text'>$9.99</div>
       </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/1476685965970037/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img67.jpg'>
        <div class = 'text'>Free</div>
      </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/971267076294181/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img68.jpg'>
        <div class = 'text'>$1.99</div>
      </a>
    </div>
    <h2> 
      <span>See More<i class = 'dropdown-arrow'></i></span>
    </h2>
  </section>
  <h1>Browse All</h1>
  <section class = 'touch-featured'>

    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/1249878741704255/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img55.jpg'>
        <div class = 'text'>$6.99</div>
       </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/1249878741704255/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img41.jpg'>
        <div class = 'text'>$1.99</div>
      </a>
    </div>
    <div class = 'img-container'>
      <a href = 'https://www.oculus.com/experiences/gear-vr/970225196383135/'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img42.jpg'>
        <div class = 'text'>$2.49</div>
      </a>
    </div>
    <h2> 
      <span>See More<i class = 'dropdown-arrow'></i></span>
    </h2>
  </section>
</header>
