* {
    font-family: "Oculus Sans";
}
.experience-ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    
}
.experience-ul li a{
    margin-right: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.experience-ul a:hover {
    opacity: 0.5;
}
img.oculous-touch-big { 
    background-color: black;
}
img:hover {
    opacity: 0.8;
    
}
.oculus-touch-big {
    width: 60vw;
    height: 80vh;
}
.oculus-touch-small-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    padding-left: 15px;
}
.oculus-touch-small {
    width: 30vw;
    height: 38vh;
}
img.oculus-touch-small {
    margin-top: 10px;
}
.img-container {
    position: relative;
}
.text {
    position: absolute;
    bottom: 25px;
    left: 30px;
    color: white;
    font-size: 25px;
}

h1 {
   padding: 20px; 
   color: black;
}
.experiences-featured {
    display: flex;
    flex-direction: space-between;
    flex-wrap: wrap;
    padding: 20px;
    height: 80vh;
}
.touch-featured {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px
}
.touch-featured img {
    width: 31vw;
    height: 40vh;
}
.made-oculus {

   background-color: black;
}
.made-oculus-title {
    padding-top: 80px;
    padding-bottom: 50px;
}

em {
    font-size: 16px;
}
h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid grey; 
   height: 17px;
   margin: 30px 0 30px;
   font-weight: normal;
} 

h2 span { 
    background:#fff; 
    padding:0 10px; 
    font-size: 16px;
}
.dropdown-arrow {
    background: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Header+Component/dropdown-arrow-icon2.png') no-repeat 0 0;
    background-position: -48px -192px;
    color: rgba(50, 52, 54, 0);
	display: inline-block;
	height: 24px;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	overflow: hidden;
	text-indent: 24px;
	vertical-align: bottom;
	width: 24px;
   
    background-size: 192px auto;
}
@media screen and (max-width: 999px) {
    section {
        display: block;
    }
    
    .experiences-header {
        display: block;
    }
    .experiences-featured {
        display: block;
        overflow: auto;
    }
    .oculus-touch-small-wrap {
        display: block;
        padding-left: 0;
    }
    .oculus-touch-big {
        display: block;
        width: 95vw;
        height: 80vh;
    }
    .oculus-touch-small {
        display: block;
        width: 95vw;
        height: 80vh;
    }
    .touch-featured {
        display: block;
    }
    .touch-featured img {
        display: block;
        width: 95vw;
        height: 80vh;
        margin-top: 10px;
    }




}