<div id="checkout-container">

  <div id="checkout-summary-container">
    <!-- replace with real data -->
    <div id="checkout-summary">
      <div class="checkout-summary-title">
        <h1>Summary</h1>
      </div>
      <div id="checkout-summary-stats">
        <div id="checkout-summary-stats-stat">
          <span>--</span>
          <p>Tax</p>
        </div>
        <div id="checkout-summary-stats-stat">
          <span>$30.00 USD</span>
          <p>Estimated Shipping</p>
        </div>
        <div id="checkout-summary-stats-stat">
          <span>${{cost}}.00 USD</span>
          <p>Total</p>
        </div>
      </div>
    </div>
    <div id="checkout-inyourcart">
      <div class="checkout-summary-title">
        <span>Edit</span>
        <h1>In your cart</h1>
      </div>
      <ul>
        <!-- replace with real data -->
        <li *ngFor="let item of cartProps.cart">
          <div id="checkout-inyourcart-item">
            <img src={{item.img}} >
            <div id="checkout-inyourcart-item-desc">
              <h2>{{item.name}}</h2>
              <p>{{item.included}}</p>
              <p>{{item.ships}}</p>
              <p>Qty. 1 @ ${{item.price}}.00 USD</p>
            </div>
          </div>
        </li>
        
      </ul>
    </div>
    
    
  </div>

  <div id="checkout-checkout-container">
    <div class="checkout-main-title">
        <h1>Checkout</h1>
    </div>

    <div id="checkout-shipping">
      <div id="checkout-shipping-title">
        <h1>1. Shipping</h1>
      </div>
      <div class="checkout-form-row">
        <div class="checkout-form-item">
          <h3>First Name</h3>
          <input #firstname type="text">
        </div>
        <div class="checkout-form-item">
          <h3>Last Name</h3>
          <input #lastname type="text">
        </div>
      </div>
      <div class="checkout-form-row">
        <div class="checkout-form-item">
          <h3>Phone</h3>
          <input #phone type="text">
        </div>
        <div class="checkout-form-item">
          <h3>Email</h3>
          <input #email type="text">
        </div>
      </div>
      <div class="checkout-form-row">
        <div class="checkout-form-item">
          <h3>Address Type</h3>
          <select #addresstype>
            <option value="residential" selected>Residential</option>
            <option value="commercial">Commercial</option>
          </select>
        </div>
      </div>
      <div class="checkout-form-row">
        <div class="checkout-form-item">
          <h3>Address</h3>
          <input #address type="text">
        </div>
        <div class="checkout-form-item">
          <h3>Address 2</h3>
          <input #address2 type="text">
        </div>
      </div>
      <div class="checkout-form-row">
        <div class="checkout-form-item">
          <h3>City</h3>
          <input #city type="text">
        </div>
        <div class="checkout-form-item">
          <h3>State/Province</h3>
          <select #state>
            <option value=""><em class="_4qba" data-intl-translation="Select..." data-intl-trid=""><!-- react-text: 191 -->Select...<!-- /react-text --></em></option>
            <option value="AA">AA</option>
            <option value="AE">AE</option>
            <option value="AK">AK</option>
            <option value="AL">AL</option>
            <option value="AP">AP</option>
            <option value="AR">AR</option>
            <option value="AZ">AZ</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DC">DC</option>
            <option value="DE">DE</option>
            <option value="FL">FL</option>
            <option value="GA">GA</option>
            <option value="HI">HI</option>
            <option value="IA">IA</option>
            <option value="ID">ID</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="KS">KS</option>
            <option value="KY">KY</option>
            <option value="LA">LA</option>
            <option value="MA">MA</option>
            <option value="MD">MD</option>
            <option value="ME">ME</option>
            <option value="MI">MI</option>
            <option value="MN">MN</option>
            <option value="MO">MO</option>
            <option value="MS">MS</option>
            <option value="MT">MT</option>
            <option value="NC">NC</option>
            <option value="ND">ND</option>
            <option value="NE">NE</option>
            <option value="NH">NH</option>
            <option value="NJ">NJ</option>
            <option value="NM">NM</option>
            <option value="NV">NV</option>
            <option value="NY">NY</option>
            <option value="OH">OH</option>
            <option value="OK">OK</option>
            <option value="OR">OR</option>
            <option value="PA">PA</option>
            <option value="RI">RI</option>
            <option value="SC">SC</option>
            <option value="SD">SD</option>
            <option value="TN">TN</option>
            <option value="TX">TX</option>
            <option value="UT">UT</option>
            <option value="VA">VA</option>
            <option value="VT">VT</option>
            <option value="WA">WA</option>
            <option value="WI">WI</option>
            <option value="WV">WV</option>
            <option value="WY">WY</option>
          </select>
        </div>
      </div>
      <div class="checkout-form-row">
        <div class="checkout-form-item">
          <h3>Zip/Postal Code</h3>
          <input #zip type="text">
        </div>
        <div class="checkout-form-item">
          <h3>Country</h3>
          <select #country>
            <option value="AU">Australia</option>
            <option value="AT">Austria</option>
            <option value="BE">Belgium</option>
            <option value="CA">Canada</option>
            <option value="DK">Denmark</option>
            <option value="FI">Finland</option>
            <option value="FR">France</option>
            <option value="DE">Germany</option>
            <option value="IS">Iceland</option>
            <option value="IE">Ireland</option>
            <option value="IT">Italy</option>
            <option value="JP">Japan</option>
            <option value="NL">Netherlands</option>
            <option value="NZ">New Zealand</option>
            <option value="NO">Norway</option>
            <option value="PL">Poland</option>
            <option value="ES">Spain</option>
            <option value="SE">Sweden</option>
            <option value="CH">Switzerland</option>
            <option value="TW">Taiwan</option>
            <option value="GB">United Kingdom</option>
            <option value="US" selected>United States of America</option>
        </select>
      </div>
    </div>
      <!--<div class="button-center">
        <button>Continue</button>
      </div>-->
    </div>

    <div id="checkout-payment">
      <div id="checkout-payment-title">
        <h1>2. Payment</h1>
      </div>
      <div id="checkout-payment-content">
        <div class="button-center">
          <button (click)="submitOrder({
            firstname: firstname.value,
            lastname: lastname.value,
            phone: phone.value,
            email: email.value,
            addresstype: addresstype.value,
            address: address.value,
            address2: address2.value,
            city: city.value,
            state: state.value,
            zip: zip.value,
            country: country.value
          })" type="button">Pay with Stripe</button>
        </div>
      </div>
    </div>

  </div>

</div>