<div id="checkout-container">

  <div id="checkout-summary-container">
    <!-- replace with real data -->
    <div id="checkout-summary">
      <div class="checkout-summary-title">
        <h1>Summary</h1>
      </div>
      <div id="checkout-summary-stats">
        <div id="checkout-summary-stats-stat">
          <span>--</span>
          <p>Tax</p>
        </div>
        <div id="checkout-summary-stats-stat">
          <span>$30.00 USD</span>
          <p>Estimated Shipping</p>
        </div>
        <div id="checkout-summary-stats-stat">
          <span>$999.99 USD</span>
          <p>Total</p>
        </div>
      </div>
    </div>
    <div id="checkout-inyourcart">
      <div class="checkout-summary-title">
        <span>Edit</span>
        <h1>In your cart</h1>
      </div>
      <ul>
        <!-- replace with real data -->
        <li>
          <div id="checkout-inyourcart-item">
            <img src="https://s3-us-west-1.amazonaws.com/devmtn-oculus/Cart+Component/rift.png" >
            <div id="checkout-inyourcart-item-desc">
              <h2>Oculus Rift</h2>
              <p>Includes: headset, sensor, remote, cables, Xbox One controller, and Lucky's Tale.</p>
              <p>Usually ships in 2 business days</p>
              <p>Qty. 1 @ $599.00 USD</p>
            </div>
          </div>
        </li>
        <li>
          <div id="checkout-inyourcart-item">
            <img src="https://s3-us-west-1.amazonaws.com/devmtn-oculus/Cart+Component/rift.png" >
            <div id="checkout-inyourcart-item-desc">
              <h2>Oculus Rift</h2>
              <p>Includes: headset, sensor, remote, cables, Xbox One controller, and Lucky's Tale.</p>
              <p>Usually ships in 2 business days</p>
              <p>Qty. 1 @ $599.00 USD</p>
            </div>
          </div>
        </li>
        <li>
          <div id="checkout-inyourcart-item">
            <img src="https://s3-us-west-1.amazonaws.com/devmtn-oculus/Cart+Component/rift.png" >
            <div id="checkout-inyourcart-item-desc">
              <h2>Oculus Rift</h2>
              <p>Includes: headset, sensor, remote, cables, Xbox One controller, and Lucky's Tale.</p>
              <p>Usually ships in 2 business days</p>
              <p>Qty. 1 @ $599.00 USD</p>
            </div>
          </div>
        </li>
        <li>
          <div id="checkout-inyourcart-item">
            <img src="https://s3-us-west-1.amazonaws.com/devmtn-oculus/Cart+Component/rift.png" >
            <div id="checkout-inyourcart-item-desc">
              <h2>Oculus Rift</h2>
              <p>Includes: headset, sensor, remote, cables, Xbox One controller, and Lucky's Tale.</p>
              <p>Usually ships in 2 business days</p>
              <p>Qty. 1 @ $599.00 USD</p>
            </div>
          </div>
        </li>
      </ul>
      
    </div>
    
    
  </div>

  <div id="checkout-checkout-container">
    <p>LUL</p>
  </div>

</div>