<div id="my-banner">
  <h1>{{(user$ | async)?.firstname}} {{(user$ | async)?.lastname}}</h1>
</div>
<div id="my-container">
  <div id="my-container-content">
    <div id="my-menu">
      <ul>
        <li><a [routerLink]="['/my/profile']" id="profile">My Profile</a></li>
        <li><a [routerLink]="['/my/orders']" id="orders">My Orders</a></li>
        <li>My Gear VR</li>
        <li>My Rift</li>
        <li>My Preview Apps</li>
        <li>My Authorized Organizations</li>
        <li>My Payment Methods</li>
      </ul>
      <select>
        <option>My Profile</option>
        <option>My Orders</option>
        <option>My Gear VR</option>
        <option>My Rift</option>
        <option>My Preview Apps</option>
        <option>My Authorized Organizations</option>
        <option>My Payment Methods</option>
      </select>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
