* {
    font-family: "Oculus Sans";
}
.experience-header{
    font-family: "Oculus Sans";
}
.experience-ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
   
}
.experience-ul li {
    margin-right: 20px;
    font-weight: bold;
}

.oculus-touch {
    width: 60vw;
}
h1 {
   padding: 20px; 
}
.experiences-featured {
    display: flex;
    flex-direction: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
.invisible {
    border: 1px solid black;
    height: 40vh;
    width: 30vw;
}
.touch-featured {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px
}
.touch-featured img {
    width: 31vw;
    height: 40vh;
}
.made-oculus {
   
    
    background-color: black;
}
img {
    max-width: 100%;
}
.oculus-symbol {
    background-image: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img2.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 30px;
}
h1 {
    color: white;
}
.oculus-view {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.small-img {
    display: flex;
    justify-content: space-between;
    margin-top: -13px;
}
.small-img1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.big-img1 img {
    width: 50vw;
    height: 60vh;
}
.small-img2 img {
    height: 30vh;
    width: 23vw;
    padding-right: 10px;
    padding-top: 10px;
  
   
}