<header class = 'experiences-header'>
  <section class = 'experiences-menu'>
    <ul class = 'experience-ul'>
      <li>Rift</li>
      <li>Gear VR</li>
    </ul>
  </section>
  <h1>Featured</h1>
  <section class = 'experiences-featured'>
    
    <div>
      <img class = 'oculus-touch' src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img1.jpg'>
    </div>
    <div class = 'invisible'></div>
  </section>
  <h1>Touch Featured</h1>
  <section class = 'touch-featured'>
    <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img2.jpg'>
    <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img3.jpg'>
    <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img4.jpg'>
  </section>
  <section class = 'made-oculus'>
    <div>
      <div>
        <img class = 'oculus-symbol' src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img2.png'>
      </div>
      <h1>Made By Oculus</h1>
    </div>
    <section class = 'oculus-view'>
      <div class = 'big-img'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img5.jpg'>
      </div>
      <div class = 'small-img'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img6.png'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img7.png'>
      </div>
      <div class = 'small-img'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img8.jpg'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Experiences+Component/img9.jpg'>
      </div>
    </section>
  </section>
</header>
