<section class="section1">
  <div class="section1-div1-hero">
    <div class="section1-div2-content">
      <h1 class="section1-div3-h1">Ready, set, go</h1>
      <h3 class="section1-div4-h3">Introducing Oculus Ready PCs</h3>
    </div>
  </div>
</section>

<section class="section2">
  <div class="section2-div1-container">
    <div class="section2-div2-content">
      <h2 class="section2-div3-h2">High-Performance PCs optimized for Rift</h2>
      <p class="section2-div4-p">Oculus partnered with top manufacturers of PC systems and components to provide a range of systems that are optimized for Rift. They’ve been designed, assembled, and tested with Rift in mind, so you can be confident they’ll deliver a great VR experience.</p>
      <span class="oc-button--cta-secondary oc-button--cta-secondary--small">View Recommended Specification</span>
    </div>
    <div class="section2-div4-img">
      <img class="image" src="https://static.oculus.com/web/www_static/production/US/373919fbb30d1dce2ee64673e43ae30cdc8dc2ed/images/oculus-ready-pcs/high-performance.png">
    </div>
  </div>
</section>

<section class="section3">
  <div class="section3-div1-container">
    <div class="section3-div2-content">
      <h2 class="section3-div3-h2">Find the right PC for You</h2>
      <p class="section3-div4-p">Visit our partners for the full range of options and special offers.</p>
    </div>
  </div>

</section>

<section class="section5">
  <div class="section5-div1-grid1:after">
   <!--<div class="before">-->
    <div class="section5-div2-partner1">
      <a href="http://www.dell.com/us/p/xps-8900-se/pd?~ck=mn" target="_blank" class="buy-now"> 
        <div class="section5-div2-background1"></div>
        <div class="section5-div3-content1">
          <div class="section5-div4-dell">
            <img src="https://static.oculus.com/web/www_static/production/US/373919fbb30d1dce2ee64673e43ae30cdc8dc2ed/images/oculus-ready-pcs/dell-logo.png">
          </div>
          <span class="oc-button--cta-secondary oc-button--cta-secondary--small">Learn More</span>
        </div>
       </a>
    </div>
    <div class="section5-div5-partner2">
      <a href="http://www.alienware.com/landings/oculus" target="_blank" class="buy-now"> 
        <div class="section5-div6-background2"></div>
        <div class="section5-div7-content2">
          <div class="section5-div8-alienware">
            <img src="https://static.oculus.com/web/www_static/production/US/373919fbb30d1dce2ee64673e43ae30cdc8dc2ed/images/oculus-ready-pcs/alienware-logo.png">
          </div>
            <span class="oc-button--cta-secondary oc-button--cta-secondary--small">Learn More</span>
        </div>
       </a>
    </div>
    <div class="section5-div9-partner3">
      <a href="http://www.falcon-nw.com/promos?promo=falcon-northwest-pcs-are-oculus-ready" class="buy-now"> 
        <div class="section5-div10-background3"></div>
        <div class="section5-div11-content3">
          <div class="section5-div12-falcon">
              <img src="https://static.oculus.com/web/www_static/production/US/373919fbb30d1dce2ee64673e43ae30cdc8dc2ed/images/oculus-ready-pcs/falcon-logo.png">
          </div>
            <span class="oc-button--cta-secondary oc-button--cta-secondary--small">Learn More</span>
        </div>
       </a>
    </div>
    <div class="section5-div13-partner4">
      <div class="section5-div14-background4"></div>
      <div class="section5-div15-content4">
        <div class="section5-div16-hp">
          <img src="https://static.oculus.com/web/www_static/production/US/373919fbb30d1dce2ee64673e43ae30cdc8dc2ed/images/oculus-ready-pcs/hp-logo.png">
        </div>
          <span>Coming Soon</span>
      </div>
    </div>
      <div class="section5-div17-partner5">
        <a href="https://www.asus.com/event/oculus-ready-pc/" target="_blank" class="buy-now"> 
          <div class="section5-div18-background5"></div>
            <div class="section5-div19-content5">
              <div class="section5-div20-asus">
                <img src="https://static.oculus.com/web/www_static/production/US/373919fbb30d1dce2ee64673e43ae30cdc8dc2ed/images/oculus-ready-pcs/asus-logo.png">
              </div>
              <span class="oc-button--cta-secondary oc-button--cta-secondary--small">Learn More</span>
            </div>
         </a>
      </div>
      <div class="section5-div21-partner6">
        <a href="http://shop.lenovo.com/us/en/desktops/ideacentre/y700/" target="_blank" class="buy-now"> 
          <div class="section5-div22-background6"></div>
          <div class="section5-div23-content6">
            <div class="section5-div24-lenovo">
              <img src="https://static.oculus.com/web/www_static/production/US/373919fbb30d1dce2ee64673e43ae30cdc8dc2ed/images/oculus-ready-pcs/lenovo-logo.png">
            </div>
              <span class="oc-button--cta-secondary oc-button--cta-secondary--small">Learn More</span>
          </div>
         </a>
      </div>
      <div class="section5-div25-partner7">
        <a href="http://www.aorus.com/public/event/2016/2016Q4_VR_Oculus/" target="_blank" class="buy-now"> 
          <div class="section5-div26-background7"></div>
          <div class="section5-div27-content7">
            <div class="section5-div28-aorus">
              <img src="https://static.oculus.com/web/www_static/production/US/373919fbb30d1dce2ee64673e43ae30cdc8dc2ed/images/oculus-ready-pcs/aorus-logo.png">
            </div>
            <span class="oc-button--cta-secondary oc-button--cta-secondary--small">Learn More</span>
          </div>
         </a>
      </div>
      <div class="section5-div29-partner8">
        <a href="https://www.cyberpowerpc.com/landingpages/oculus/" target="_blank" class="buy-now"> 
          <div class="section5-div30-background8"></div>
          <div class="section5-div31-content8">
            <div class="section5-div32-cyber">
              <img src="https://static.oculus.com/web/www_static/production/US/373919fbb30d1dce2ee64673e43ae30cdc8dc2ed/images/oculus-ready-pcs/cyberpowerpc-logo.png">
            </div>
             <span class="oc-button--cta-secondary oc-button--cta-secondary--small">Learn More</span>
          </div>
         </a>
      </div>
      </div>
</section>

<section class="section6">
  <div class="section6-div1-container">
    <div class="section6-div2-content">
      <h2 class="section6-div3-h2">Oculus Ready PC Bundles</h2>
      <p class="section6-div4-p">Order your Oculus Ready PC and Rift with our retail partners below.</p>
    </div>
  </div>
</section>

<section class="section7">
  <div class="section7-div1-container">
    <div class="section7-div2-img">
      <img class="bundleimage"src="https://static.oculus.com/web/www_static/production/US/373919fbb30d1dce2ee64673e43ae30cdc8dc2ed/images/oculus-ready-pcs/family-bundle.png">

    </div>
  </div>
</section>

<section class="section8">
  <section class="before"></section>
  <div class="section8-div1-grid">
    <div class="section8-div2-microsoft">
      <a href="http://www.microsoftstore.com/store/msusa/en_US/cat/categoryID.71021100" target="_blank" class="buy-now"> 
        <div class="section8-div3-content">
          <div class="section8-div4-micrologo">
            <img src="https://static.oculus.com/web/www_static/production/US/373919fbb30d1dce2ee64673e43ae30cdc8dc2ed/images/oculus-ready-pcs/ms-logo.png" class="microsoft">
          </div>
          <span class="oc-button--cta-primary oc-button--cta-primary--small wow wow-in-view">Order Now</span>
        </div>
      </a>
    </div>
    <div class="section8-div5-bestbuy">
      <div class="section8-div1-grid">
        <div class="section8-div2-microsoft">
          <a href="http://www.bestbuy.com/site/clp/oculus-rift-vr-offer/pcmcat748301736879.c?id=pcmcat748301736879"> 
            <div class="section8-div3-content">
              <div class="section8-div4-micrologo">
                <img src="https://static.oculus.com/web/www_static/production/US/373919fbb30d1dce2ee64673e43ae30cdc8dc2ed/images/oculus-ready-pcs/bestbuy-logo.png" class="microsoft">
              </div>
              <span class="oc-button--cta-primary oc-button--cta-primary--small wow wow-in-view">Order Now</span>
            </div>
           </a>
        </div>
        <div class="section8-div6-amazon">
          <div class="section8-div1-grid">
            <div class="section8-div2-microsoft">
              <a href="http://www.amazon.com/dp/B01BHN27M2"> 
                <div class="section8-div3-content">
                  <div class="section8-div4-micrologo">
                    <img src="https://static.oculus.com/web/www_static/production/US/373919fbb30d1dce2ee64673e43ae30cdc8dc2ed/images/oculus-ready-pcs/amazon-logo.png" class="microsoft">
                  </div>
                    <span class="oc-button--cta-primary oc-button--cta-primary--small wow wow-in-view">Order Now</span>
                </div>
               </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section10">
  <h2 class="section10-div1-h2">Stay up to date with Oculus</h2>
  <div class="section10-div2-email">
    <form id="newsletter">
      <div class="section10-div3-signup">
        <input class="section10-div4-email" placeholder="Email Address">
          <div class="section10-div5-subscribe">
            <input type="text">
          </div>
          <input id="mc-embedded-subscribe" type="submit" value="Subscribe" name="subscribe" class="oc-button oc-button--cta-secondary">
      </div>
    </form>
  </div>
</section>
