.oc-button--cta-secondary.oc-button--cta-secondary--small {
    font-size: 12px;
    padding: 5px 29px 4px;
    min-width: 150px;
}
.oc-button--cta-secondary {
    border-radius: 22px;
    border: 2px solid #1c1e20;
    background-color: transparent;
    color: #323436;
    padding: 11px 39px 10px;
    min-width: 180px;
    font-size: 14px;
    -webkit-transition: color .3s,background .3s,border .3s;
    transition: color .3s,background .3s,border .3s;
}
.oc-button--cta-primary, .oc-button--cta-secondary {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    font-weight: 600;
    margin: 0 6px 12px;
    text-align: center;
    box-sizing: border-box;

}

a {
    background: 0 0;
    text-decoration: none;
    color: #1574d4;
    -webkit-transition: color .2s;
    transition: color .2s;
    color: #1c1e20;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

img {
    border: none;
    max-width: 210px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//                  Section 1                       //
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

.section1 {
    width: 100%;
    min-height: 400px;
    background-color: #fff;
    padding-bottom: 0;
    margin-top: -60px;
    position: relative;
    color: #323436;
    background: #fefefe;
    height: auto;

}

.section1-div2-content {
    position: relative;
    top: 116px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.section1-div3-h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    font-family: "Oculus Sans",Arial,Helvetica,sans-serif;
    font-weight: 900;
    margin: 0 0 12px;
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    color: inherit;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 10px;
    transition-delay: 0ms;

}

.section1-div4-h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    font-family: "Oculus Sans",Arial,Helvetica,sans-serif;
    margin: 0 0 12px;
    font-weight: 600;
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    color: inherit;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 26px;
    display: block;
    transition-delay: 25ms;


}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//                      Section 2                              //
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

.section2 {
    position: relative;
    color: #323436;
    background: #fff;
    background-color: #f0f0f0;
}

.section2-div1-container {
    max-width: 100%;
    padding: 100px 50px;
    text-align: center;
}

.section2-div2-content {
    display: inline-block;
    max-width: 580px;
    padding: 0 0 50px;
    text-align: center;
    vertical-align: top;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section2-div3-h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    font-family: "Oculus Sans",Arial,Helvetica,sans-serif;
    font-weight: 900;
    margin: 0 0 12px;
    font-size: 30px;
    line-height: 40px;
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    color: inherit;
    display: inline-block;
    max-width: 450px;
    transition-delay: 0ms;
}

.section2-div4-p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0 0 24px;
    font-weight: 400;
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
    transition-delay: 0ms;

}

oc-button--cta-secondary.oc-button--cta-secondary--small {
    font-size: 12px;
    padding: 5px 29px 4px;
    min-width: 150px;
}
.oc-button--cta-secondary {
    border-radius: 22px;
    border: 2px solid #1c1e20;
    background-color: transparent;
    color: #323436;
    padding: 11px 39px 10px;
    min-width: 180px;
    font-size: 14px;
    -webkit-transition: color .3s,background .3s,border .3s;
    transition: color .3s,background .3s,border .3s;
}
.oc-button--cta-primary, .oc-button--cta-secondary {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    font-weight: 600;
    margin: 0 6px 12px;
    text-align: center;
    box-sizing: border-box;
}  

.section2-div4-img {
    display: inline-block;
    padding: 0;
    width: 100%;
}

.image {
    border: none;
    max-width: 100%;
    max-height: 100%;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//                      Section 3                                //
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

.section3 {
    position: relative;
    color: #323436;
    background: #fff;
    padding: 100px 25px;
}

.section3-div1-container {
    text-align: center;
}

.section3-div2-content {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section3-div3-h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    font-family: "Oculus Sans",Arial,Helvetica,sans-serif;
    color: #202020;
    font-weight: 900;
    margin: 0 0 12px;
    font-size: 30px;
    line-height: 40px;
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    color: inherit;
    transition-delay: 0ms;
    text-align: center;
}

.section3-div4-p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 28px;
    margin: 0 0 24px;
    font-size: 18px;
    font-weight: 400;
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    transition-delay: 0ms;
    text-align: center;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//                  Section 5                                   //
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

.section5 {
    position: relative;
    color: #323436;
    background: #fff;
    padding: 0;
    height: 815px;
}

.section5-div1-grid1{
    margin-left: auto;
    margin-right: auto;
    min-width: 880px;
    max-width: 1260px;
    padding-left: 40px;
    padding-right: 40px;
    min-width: inherit;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    border-bottom: solid 1px #d2d2d2;
    border-right: solid 1px #d2d2d2;
}

// .before {
//     content: " ";
//     display: block;
//     overflow: hidden;
//     visibility: hidden;
//     font-size: 0;
//     line-height: 0;
//     width: 0;
//     height: 0;
// }

.section5-div2-partner1 {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 25%;
    position: relative;
    height: 407px;
    text-align: center;
    border-top: solid 1px #d2d2d2;
    border-left: solid 1px #d2d2d2;
    box-sizing: border-box;
}

.section5-div2-background1 {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity .3s;
}

.section5-div3-content1 {
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    padding-top: 134px;
    transition-delay: 0ms;
}

.section5-div4-dell {
    display: block;
    height: 65px;
    padding-bottom: 30px;
}

.section5-div5-partner2 {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 25%;
    position: relative;
    height: 407px;
    text-align: center;
    border-top: solid 1px #d2d2d2;
    border-left: solid 1px #d2d2d2;
    box-sizing: border-box;
}

.section5-div6-background2 {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity .3s;
}

.section5-div7-content2 {
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    padding-top: 134px;
    transition-delay: 0ms;
}

.section5-div8-alienware {
    display: block;
    height: 65px;
    padding-bottom: 30px;
}

.section5-div9-partner3 {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 25%;
    position: relative;
    height: 407px;
    text-align: center;
    border-top: solid 1px #d2d2d2;
    border-left: solid 1px #d2d2d2;
    box-sizing: border-box;
}

.section5-div10-background3 {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity .3s;
}

.section5-div11-content3 {
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    padding-top: 134px;
    transition-delay: 0ms;
}

.section5-div12-falcon {
    display: block;
    height: 65px;
    padding-bottom: 30px;
}

.section5-div13-partner4 {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 25%;
    position: relative;
    height: 407px;
    text-align: center;
    border-top: solid 1px #d2d2d2;
    border-left: solid 1px #d2d2d2;
    box-sizing: border-box;
}

.section5-div14-background4 {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity .3s;
}

.section5-div15-content4 {
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    padding-top: 134px;
    transition-delay: 75ms;
}

.section5-div16-hp {
    display: block;
    height: 65px;
    padding-bottom: 30px;
}

.section5-div17-partner5 {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 25%;
    position: relative;
    height: 407px;
    text-align: center;
    border-top: solid 1px #d2d2d2;
    border-left: solid 1px #d2d2d2;
    box-sizing: border-box;
}

.section5-div18-background5 {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity .3s;
}

.section5-div19-content5 {
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    padding-top: 134px;
    transition-delay: 75ms;
}

.section5-div20-asus {
    display: block;
    height: 65px;
    padding-bottom: 30px;
}

.section5-div21-partner6 {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 25%;
    position: relative;
    height: 407px;
    text-align: center;
    border-top: solid 1px #d2d2d2;
    border-left: solid 1px #d2d2d2;
    box-sizing: border-box;
}

.section5-div22-background6 {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity .3s;
}

.section5-div23-content6 {
     opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    padding-top: 134px;
    transition-delay: 75ms;
}

.section5-div24-lenovo {
    display: block;
    height: 65px;
    padding-bottom: 30px;
}

.section5-div25-partner7 {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 25%;
    position: relative;
    height: 407px;
    text-align: center;
    border-top: solid 1px #d2d2d2;
    border-left: solid 1px #d2d2d2;
    box-sizing: border-box;
}

.section5-div26-background7 {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity .3s;
}

.section5-div27-content7 {
     opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    padding-top: 134px;
    transition-delay: 75ms;
}

.section5-div28-aorus {
    display: block;
    height: 65px;
    padding-bottom: 30px;
}

.section5-div29-partner8 {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 25%;
    position: relative;
    height: 407px;
    text-align: center;
    border-top: solid 1px #d2d2d2;
    border-left: solid 1px #d2d2d2;
    box-sizing: border-box;
}

.section5-div30-background8 {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity .3s;
}

.section5-div31-content8 {
     opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    padding-top: 134px;
    transition-delay: 75ms;
}

.section5-div32-cyber {
    display: block;
    height: 65px;
    padding-bottom: 30px;
}

.section5-div1-grid1:after{
    content: " ";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//                      Section 6                               //
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

.section6 {
    display: block;
    position: relative;
    color: #323436;
    background: #fff;
    padding: 100px 25px;
}

.section6-div1-container {
    text-align: center;
}

.section6-div2-content {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section6-div3-h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    font-family: "Oculus Sans",Arial,Helvetica,sans-serif;
    font-weight: 900;
    margin: 0 0 12px;
    font-size: 30px;
    line-height: 40px;
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    color: inherit;
    text-align: center;

}

.section6-div4-p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 28px;
    margin: 0 0 24px;
    font-size: 18px;
    font-weight: 400;
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    transition-delay: 0ms;
    text-align: center;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//                       Section 7                              //
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

.section7 {
    position: relative;
    color: #323436;
    background: #fff;
    background-color: #f0f0f0;
    padding-top: 100px;
}

.section7-div1-container {
    margin: auto;
    display: block;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.section7-div2-img {
    display: block;
    width: 100%;
}

.bundleimage {
    border: none;
    max-width: 100%;
    max-height: 100%;
    top: 210px;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//                      Section 8                                //
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//



.oc-button--cta-primary {
    border-radius: 22px;
    border: 2px solid #1c1e20;
    background-color: #1c1e20;
    color: #fff;
    padding: 11px 39px 10px;
    min-width: 180px;
    font-size: 14px;
    -webkit-transition: color .3s,background .3s,border .3s;
    transition: color .3s,background .3s,border .3s;
}
.oc-button--cta-primary, .oc-button--cta-secondary {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    font-weight: 600;
    margin: 0 6px 12px;
    text-align: center;
    box-sizing: border-box;
}
.wow.wow-in-view {
    opacity: 1!important;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
}
.oc-button--cta-primary.oc-button--cta-primary--small {
    font-size: 12px;
    padding: 5px 29px 4px;
    min-width: 150px;
}
.oc-button--cta-primary {
    background-color: #1574d4;
    border-color: #1574d4;
}

.section8 {
    position: relative;
    color: #323436;
    background: #fff;
    background-color: #f0f0f0;
    padding: 100px 0 0;
    text-align: center;
    height:421px;
}

.before {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 40%;
    content: "";
    background-color: #fff;
}

.section8-div1-grid {
    margin-left: auto;
    margin-right: auto;
    min-width: 880px;
    max-width: 1260px;
    padding-left: 40px;
    padding-right: 40px;
    min-width: inherit;
    max-width: 980px;
    padding-left: 20px;
    padding-right: 20px;
}

.section8-div2-microsoft {
    float: left;
    box-sizing: border-box;
    width: 33.33333333%;
    display: inline-block;
    padding: 10px;
    position: relative;
}

.section8-div3-content {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 60px 30px;
    border: 1px solid #cbcbcb;
    background: #fff;
}

.section8-div4-micrologo {
    display: block;
    padding-bottom: 30px;

}

.microsoft {
    border: none;
    width: 100%;
    max-width: 200px;
    top: 50px;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//                      Section 10                              //
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

.section10 {
    display: block;
    background-color: #f0f0f0;
    padding: 100px 0;
    text-align: center;
    width: 100%;
    background-color: #fff;
}

.section10-div1-h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: #202020;
    font-weight: 900;
    margin: 0 0 12px;
    font-size: 30px;
    line-height: 40px;
    padding: 0 20px 40px;

}

.section10-div2-email {
    display: inline-block;
}

#newsletter {
    display: block;
    margin-top: 0em;
    box-shadow: none;
}

.section10-div4-email {
    -webkit-writing-mode: horizontal-tb;
        text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 11px BlinkMacSystemFont;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 11px BlinkMacSystemFont;
    margin: 0;
    color: inherit;
    font: inherit;
     -webkit-appearance: none;
    outline: 0;
    line-height: normal;
    box-shadow: none;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    font-size: 14px;
    padding: 14px 15px;
    width: 220px;
    background-color: #fff;
    color: #1c1e20;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 350px;
    font-family: "Oculus Sans",Arial,Helvetica,sans-serif;
}

.section10-div5-subscribe {
    position: absolute;
    left: -5000px;
}

input[type=text], input[type=email], input[type=password] {
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    font-size: 14px;
    padding: 14px 15px;
    width: 220px;
    background-color: #fff;
    color: #1c1e20;
    box-sizing: border-box;
    line-height: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 11px BlinkMacSystemFont;
    -webkit-writing-mode: horizontal-tb;
    }

#newsletter-signup #mc_embed_signup #mc-embedded-subscribe {
    margin-left: 20px;
    margin-right: 0;
}

.oc-button--cta-secondary {
    border-radius: 22px;
    border: 2px solid #1c1e20;
    background-color: transparent;
    color: #323436;
    padding: 11px 39px 10px;
    min-width: 180px;
    font-size: 14px;
    -webkit-transition: color .3s,background .3s,border .3s;
    transition: color .3s,background .3s,border .3s;
    font-family: "Oculus Sans",Arial,Helvetica,sans-serif;
}
.oc-button--cta-primary, .oc-button--cta-secondary {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    font-weight: 600;
    margin: 0 6px 12px;
    text-align: center;
    box-sizing: border-box;
    font-family: "Oculus Sans",Arial,Helvetica,sans-serif;
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//                  Media Queries:                          //
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

@media screen and (min-width: 640px) {
.section1 {
    min-height: 500px;
    margin-top: -80px;
}
.section1-div3-h1 {
    font-size: 40px;
}
}




@media screen and (min-width: 1025px) {
.section1-div1-hero {
    background: url(https://static.oculus.com/web/www_static/production/US/373919fbb30d1dce2ee64673e43ae30cdc8dc2ed/images/oculus-ready-pcs/hero.jpg) center center no-repeat;
    background-size: cover;
    height: 800px;
    margin-top: 80px;
}
.section1-div2-content {
    top: 260px;
}
.section1-div3-h1 {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity .6s .1s,transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease;
}
.section1-div4-h3 {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity .6s .1s,transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease;
}
.section2-div1-container {
    max-width: calc(1184px + 80px);
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
}
.section2-div2-content {
    padding: 30px 0 0;
    text-align: left;
    width: 42%;
}
.section2-div3-h2 {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity .6s .1s,transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease;
}
.section-div4-p {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity .6s .1s,transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease;
    font-size: 16px;
    line-height: 24px;
}
.section .container .oc-button--cta-secondary {
    margin-left: 0;
}
.section2-div4-img {
    padding-top: 1%;
    width: 57%;
}
.section3-div1-container {
    max-width: calc(1184px + 80px);
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
}
.section3-div3-h2 {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity .6s .1s,transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease;
}
.section3-div4-p {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity .6s .1s,transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease;
}
.section5-div3-content1 {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity .6s .1s,transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease;
}
.section5-div15-content4 {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity .6s .1s,transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease;
}
.section5-div19-content5 {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity .6s .1s,transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease;
}
.section5-div23-content6 {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity .6s .1s,transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease;
}
.section5-div27-content7 {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity .6s .1s,transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease;
}
.section5-div31-content8 {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity .6s .1s,transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease;
}
.section6-div1-container {
    max-width: calc(1184px + 80px);
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
}
.section6-div3-h2 {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity .6s .1s,transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease;
}
.section6-div4-p {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity .6s .1s,transform .6s ease;
    
}
.section7-div1-container {
    max-width: calc(1184px + 80px);
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
}
.wow {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    transform: translate(0,50px);
    -webkit-transition: opacity .6s .1s,transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease;
}
}
