<div id="my-orders">
  <div class="orders-container">
    <div class="orders-info-container">
      <h1 class="bxHeading">
        <em class="" data-intl-translation="My Orders" data-intl-trid="">My Orders</em>
      </h1>
      <div *ngIf="pastOrders.length === 0" class="order-status">
        <em class="" data-intl-translation="No orders. Looks like you need to order something!" data-intl-trid="">No orders. Looks like you need to order something!</em>
      </div>
      <div *ngIf="pastOrders.length > 0" id="orders-content">
        <ul id="orders-list">

          <li *ngFor="let order of pastOrders" id="orders-list-each">
            <h2>Date Ordered: {{order.date}}</h2>
            <h3>Total Price: ${{order.totalprice}}.00 USD</h3>
            <h3>Shipped: {{order.shipped}}</h3>
            <ul id="items-list">
              <li *ngFor="let item of order.items">
                <img src={{item.img}} >
                <span>{{item.name}}</span>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
