<div id="cart-container">
  <div id="cart-content-container">

    <div id="cart-shipping-country">
      <div id="cart-shipping-country-content">
        <h1>Shipping Country</h1>
        <select>
          <option value="AU">Australia</option>
          <option value="AT">Austria</option>
          <option value="BE">Belgium</option>
          <option value="CA">Canada</option>
          <option value="DK">Denmark</option>
          <option value="FI">Finland</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
          <option value="IS">Iceland</option>
          <option value="IE">Ireland</option>
          <option value="IT">Italy</option>
          <option value="JP">Japan</option>
          <option value="NL">Netherlands</option>
          <option value="NZ">New Zealand</option>
          <option value="NO">Norway</option>
          <option value="PL">Poland</option>
          <option value="ES">Spain</option>
          <option value="SE">Sweden</option>
          <option value="CH">Switzerland</option>
          <option value="TW">Taiwan</option>
          <option value="GB">United Kingdom</option>
          <option value="US" selected>United States of America</option>
        </select>
      </div>
    </div>
    
    <div id="cart-main">
      <!-- replace with real data -->
      <div id="cart-your-cart">
        <h1>Your Cart (X)</h1>
        <table>
          <tr id="cart-table-title">
            <td class="cart-table-item">
              <p>Item</p>
            </td>
            <td class="cart-table-quantity">
              <p>Quantity</p>
            </td>
            <td class="cart-table-price">
              <p>Price</p>
            </td>
            <td class="cart-table-remove">
              <p>Remove</p>
            </td>
          </tr>

          <tr *ngFor="let item of cart">
            <td class="cart-table-item">
              <img src={{item.img}}>
              <div class="cart-table-item-description">
                <h2>{{item.name}}</h2>
                <p>{{item.included}}</p>
                <p>{{item.ships}}</p>
              </div>
            </td>
            <td class="cart-table-quantity">
              <span>1</span>
            </td>
            <td class="cart-table-price">{{item.price}}</td>
            <td class="cart-table-remove">
              <i class="fa fa-times" aria-hidden="true"></i>
            </td>
          </tr>

        </table>
      </div>

      <!-- replace with real data -->
      <div id="cart-summary">
        <div id="cart-summary-title">
          <h1>Summary</h1>
        </div>
        <div id="cart-summary-stats">
            <div id="cart-summary-stats-stat">
              <span>--</span>
              <p>Tax</p>
            </div>
            <div id="cart-summary-stats-stat">
              <span>$30.00 USD</span>
              <p>Estimated Shipping</p>
            </div>
            <div id="cart-summary-stats-stat">
              <span>${{totalprice}}.00 USD</span>
              <p>Total</p>
            </div>
        </div>
        <div id="cart-summary-buttons">
          <button id="cart-checkout" type="button">Checkout</button>
          <button id="cart-checkout-guest" type="button">Checkout as Guest</button>
        </div>
      </div>
    </div>

    <!-- replace with real data -->
    <div id="cart-related-products">
      <h2>Related Products</h2>
      <div id="cart-products">
        <ul>

          <li *ngFor="let item of available">
            <div class="cart-products-product">
              <img src={{item.img}}>
              <h1>{{item.name}}</h1>
              <h3>{{item.price}}</h3>
              <button type="button" (click)="addToCart(item)">Add to Cart</button>
            </div>
          </li>

        </ul>
      </div>
    </div>

  </div>
  <div id="cart-options">
    <div id="cart-options-content">
      <div id="cart-options-ready">
        <h1>Make sure your Windows PC is Rify Ready!</h1>
        <h2>Download and run the Rift compatibility tool for Windows to find out.</h2>
        <div class="cart-center-button">
          <button type="button">Download</button>
        </div>
      </div>
      <div id="cart-options-warranty">
        <h1>Limited Consumer Warranty</h1>
        <h2>A limited consumer warranty is provided with Oculus product purchases.</h2>
        <div class="cart-center-button">
          <button type="button">Learn More</button>
        </div>
      </div>
    </div>
  </div>
</div>
