<div>
  <footer>
    <div class="sitemap">
      <div class="sitemap-columns">
        <div class="sitemap-grid">
          <div class="sitemap-full">
            <div class="sitemap-grid-column">
              <h3 class="sitemap-grid-column-h3">Product</h3>
              <ul class="sitemap-grid-column-ul ul-open">
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Experiences</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Gear VR</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Rift</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Touch</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Oculus Ready PCs</a>
                </li>
              </ul>
            </div>
            <div class="sitemap-grid-column">
              <h3 class="sitemap-grid-column-h3">Developers</h3>
              <ul class="sitemap-grid-column-ul ul-open">
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Developer Center</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Docs</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Downloads</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Tools</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Developer Blog</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Developer Forums</a>
                </li>
              </ul>
            </div>
            <div class="sitemap-grid-column">
              <h3 class="sitemap-grid-column-h3">Company</h3>
              <ul class="sitemap-grid-column-ul ul-open">
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Blog</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Careers</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">News</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Press Kit</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Story Studio</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Oculus Connect</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Research</a>
                </li>
              </ul>
            </div>
            <div class="sitemap-grid-column">
              <h3 class="sitemap-grid-column-h3">Community</h3>
              <ul class="sitemap-grid-column-ul ul-open">
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Support</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Forums</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Order History</a>
                </li>     
              </ul>
            </div>
          </div>

          <div class="sitemap-small">
            <div class="sitemap-grid-column">
              <h3 (click)="onProductClick()"class="sitemap-grid-column-h3">Product</h3>
              <ul *ngIf="productUl" class="sitemap-grid-column-ul ul-open">
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Experiences</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Gear VR</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Rift</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Touch</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Oculus Ready PCs</a>
                </li>
              </ul>
            </div>
            <div class="sitemap-grid-column">
              <h3 (click)="onDevelopersClick()"class="sitemap-grid-column-h3">Developers</h3>
              <ul *ngIf="developersUl" class="sitemap-grid-column-ul ul-open">
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Developer Center</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Docs</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Downloads</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Tools</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Developer Blog</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Developer Forums</a>
                </li>
              </ul>
            </div>
            <div class="sitemap-grid-column">
              <h3 (click)="onCompanyClick()"class="sitemap-grid-column-h3">Company</h3>
              <ul *ngIf="companyUl" class="sitemap-grid-column-ul ul-open">
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Blog</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Careers</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">News</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Press Kit</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Story Studio</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Oculus Connect</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Research</a>
                </li>
              </ul>
            </div>
            <div class="sitemap-grid-column">
              <h3 (click)="onCommunityClick()"class="sitemap-grid-column-h3">Community</h3>
              <ul *ngIf="communityUl" class="sitemap-grid-column-ul ul-open">
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Support</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Forums</a>
                </li>
                <li class="sitemap-grid-ul-item">
                  <a class="sitemap-grid-ul-item-a" href="#">Order History</a>
                </li>     
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-wrapper">
      <div class="footer-content">
        <div class="footer-left footer-logo"></div>
        <div class="footer-left"></div>
        <div class="footer-right">
          <div class="footer-copyright">© 2016 Oculus VR, LLC.</div>
          <ul class="footer-main-nav">
              <li class="footer-main-navItem">
                <a class="footer-navLink" href="legal/privacy-policy/index.html" tabindex="20">Privacy</a>
              </li>
              <li class="footer-main-navItem">
                <a class="footer-navLink" href="legal/terms-of-service/index.html" tabindex="20">Legal</a>
              </li>
          </ul>

          <ul class="footer-socials-nav">
              <li class="footer-socials-navItem">
                  <a class="footer-navLink" href="https://www.facebook.com/oculusvr" tabindex="20" target="_blank">
                    <i class="footer-socials-icons footer-socials-icons--fb-white"></i>
                  </a>
              </li>
              <li class="footer-socials-navItem">
                  <a class="footer-navLink" href="https://instagram.com/oculus" tabindex="20" target="_blank">
                    <i class="footer-socials-icons footer-socials-icons--instagram-white"></i>
                  </a>
              </li>
              <li class="footer-socials-navItem">
                  <a class="footer-navLink" href="https://twitter.com/oculus" tabindex="20" target="_blank">
                    <i class="footer-socials-icons footer-socials-icons--twitter-white"></i>
                  </a>
              </li>
              <li class="footer-socials-navItem">
                  <a class="footer-navLink" href="https://www.youtube.com/oculusvr" tabindex="20" target="_blank">
                    <i class="footer-socials-icons footer-socials-icons--youtube-white"></i>
                  </a>
              </li>
              <li class="footer-socials-navItem">
                  <a class="footer-navLink" href="https://www.twitch.tv/oculus/profile" tabindex="20" target="_blank">
                    <i class="footer-socials-icons footer-socials-icons--twitch-white"></i>
                  </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>