
// Top Part of Footer
.bxPageSiteMap {
    background: #1b1d1f;
	border-top: 1px solid #323436;
	box-sizing: border-box;
	color: #777879;
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 14px;
	font-weight: 700;
	min-height: 80px;
	line-height: 32px;
	overflow: hidden;
	padding: 24px 32px;
	position: relative;
	z-index: 100;
}

.bxPageSiteMap__columnContainer {
    margin: 0 auto;
    max-width: 1260px;
}
.bxGrid {
    margin-left: auto;
	margin-right: auto;
	min-width: 936px;
	max-width: 1260px;
	padding-left: 28px;
	padding-right: 28px;
}
.bxGrid--parent {
    min-width: 0;
	max-width: none;
	padding-left: 0;
	padding-right: 0;
}
.bxGrid>.bxGrid__column:first-child {
    padding-left: 4px;
}

.bxGrid--parent>.bxGrid__column:first-child {
    padding-left: 0;
}
.bxGrid__column {
    box-sizing: border-box;
	min-height: 1px;
	padding: 0 4px;
}
.bxGrid__column-25 {
    float: left;
    width: 25%;
}
.bxPageSiteMap__column {
    padding: 12px 32px;
    min-width: 185px;
}

// H3 header styling
.bxHeading {
    color: #1c1e20;
    display: block;
}
.bxHeading--level-6 {
    color: #323436;
    font-family: "Oculus Sans", "Arial", "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.bxHeading--dark {
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
}
.bxPageSiteMap__header {
    font-size: 14px;
    letter-spacing: .025em;
    text-transform: uppercase;
}

// UL and LI items
.bxPageSiteMap__list {
    border-top: 1px solid #323436;
    list-style: none;
    padding: 12px 0;
    font-family: "Oculus Sans", "Arial", "Helvetica", sans-serif;
}

.bxPageSiteMap__listItem {
    font-weight: 400;
}
.bxPageSiteMap__listItemLink {
    color: #777879;
    text-decoration: none;
}
.bxPageSiteMap__listItemLink:hover {
    color: #fff;
}


// Bottom Footer
.bxPageFooter {
    background: #16181a;
	color: #777879;
	box-sizing: border-box;
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 14px;
	font-weight: 700;
	min-height: 80px;
	overflow: hidden;
	padding: 24px 32px;
	position: relative;
	z-index: 100;
}
.bxPageFooter__content {
	margin: 0 auto;
	max-width: 1260px;
}

// Left
.bxPageFooter__left {
	display: inline-block;
	margin-right: 8px;
	vertical-align: top;
}
div._5f6c {
	background-image: url('../assets/images/footer-content.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 0;
	height: 28px;
	margin-right: 24px;
	margin-top: 2px;
	width: 161px;
}

// Right
.bxPageFooter__right {
	float: right;
	padding: 4px 0 0 0;
}
._5f6b {
	display: inline-block;
	padding: 0 16px;
    font-family: "Oculus Sans";
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}
.bxPageFooter__nav {
	display: inline-block;
	font-weight: 400;
	height: 32px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.bxPageFooter__navItem {
	display: inline-block;
	margin: 0;
	vertical-align: top;
    font-family: "Oculus Sans";
}
.bxPageFooter__navLink {
	color: #777879;
	display: inline-block;
	height: 32px;
	padding: 0 12px;
	text-decoration: none;
	transition: opacity 500ms;
}
.bxPageFooter__navLink:hover, .bxPageFooter__navLink:focus {
	color: #fff;
	transition: none;
}

// Socials
.bxPageFooter__socialNav {
	display: inline-block;
	height: 32px;
	list-style: none;
	margin: 0 0 0 24px;
	padding: 0;
	text-align: right;
}
.bxPageFooter__socialNavItem {
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
.bxIcon24SocialMedia {
    background: url('../assets/images/footer-icons.png') no-repeat 0 0;
	color: rgba(50, 52, 54, 0);
	display: inline-block;
	height: 24px;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	overflow: hidden;
	text-indent: 24px;
	vertical-align: bottom;
	width: 24px;
}
.bxPageFooter__socialNavItem .bxIcon24SocialMedia {
	margin-right: 8px;
	opacity: .4;
}
.bxPageFooter__socialNavItem .bxIcon24SocialMedia:hover, .bxPageFooter__socialNavItem .bxIcon24SocialMedia:focus {
	opacity: 1;
}
.bxIcon24SocialMedia--fb-white {
    background-position: -72px 0;
}
.bxIcon24SocialMedia--instagram-white {
    background-position: -72px -48px;
}
.bxIcon24SocialMedia--twitter-white {
    background-position: -72px -24px;
}
.bxIcon24SocialMedia--youtube-white {
    background-position: -72px -72px;
}
.bxIcon24SocialMedia--twitch-white {
    background-position: -72px -120px;
}