<footer id="page-footer">
  <div class="site-map">
    <div class="site-map-column-wrapper">
      <div class="site-map-grid site-map-grid-parent">
        <div class="site-map-grid-column site-map-grid-25 site-map-column">
          <h3 class="site-map-heading site-map-heading-6 site-map-heading-dark site-map-header">Product</h3>
          <ul class="site-map-list">
            <li class="site-map-list-item">
              <a class="site-map-list-item-link" href="experiences/rift/index.html">Experiences</a>
            </li>
            <li class="site-map-list-item">
              <a class="site-map-list-item-link" href="https://www.oculus.com/gear-vr/">Gear VR</a>
            </li>
            <li class="site-map-list-item">
              <a class="site-map-list-item-link" href="https://www.oculus.com/rift/">Rift</a>
            </li>
            <li class="site-map-list-item">
              <a class="site-map-list-item-link" href="https://www.oculus.com/touch/">Touch</a>
            </li>
            <li class="site-map-list-item">
              <a class="site-map-list-item-link" href="https://www.oculus.com/oculus-ready-pcs/">Oculus Ready PCs</a>
            </li>
          </ul>
        </div>

        <div class="site-map-grid-column site-map-grid-25 site-map-column">
          <h3 class="site-map-heading site-map-heading-6 site-map-heading-dark site-map-header">Developers</h3>
          <ul class="site-map-list">
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="https://developer.oculus.com/">Developer Center</a>
              </li>
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="https://developer.oculus.com/documentation/">Docs</a>
              </li>
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="https://developer.oculus.com/downloads/">Downloads</a>
              </li>
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="https://developer.oculus.com/tools/">Tools</a>
              </li>
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="https://developer.oculus.com/blog/">Developer Blog</a>
              </li>
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="https://forums.oculus.com/developer/">Developer Forums</a>
              </li>
          </ul>
        </div>
        
        <div class="site-map-grid-column site-map-grid-25 site-map-column">
          <h3 class="site-map-heading site-map-heading-6 site-map-heading-dark site-map-header">Company</h3>
          <ul class="site-map-list">
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="blog/index.html">Blog</a>
              </li>
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="https://www.oculus.com/careers/">Careers</a>
              </li>
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="news/index.html">News</a>
              </li>
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="press-kit/identity/index.html">Press Kit</a>
              </li>
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="https://storystudio.oculus.com/">Story Studio</a>
              </li>
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="https://www.oculus.com/connect/">Oculus Connect</a>
              </li>
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="research/index.html">Research</a>
              </li>
          </ul>
        </div>

        <div class="site-map-grid-column site-map-grid-25 site-map-column">
          <h3 class="site-map-heading site-map-heading-6 site-map-heading-dark site-map-header">Community</h3>
          <ul class="site-map-list">
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="https://support.oculus.com/">Support</a>
              </li>
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="https://forums.oculus.com/">Forums</a>
              </li>
              <li class="site-map-list-item">
                <a class="site-map-list-item-link" href="https://shop.oculus.com/history/">Order History</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-wrapper">
    <div class="footer-content">
      <div class="footer-left footer-logo"></div>
      <div class="footer-left"></div>
      <div class="footer-right">
        <div class="footer-copyright">© 2016 Oculus VR, LLC.</div>
        <ul class="footer-main-nav">
            <li class="footer-main-navItem">
              <a class="footer-navLink" href="legal/privacy-policy/index.html" tabindex="20">Privacy</a>
            </li>
            <li class="footer-main-navItem">
              <a class="footer-navLink" href="legal/terms-of-service/index.html" tabindex="20">Legal</a>
            </li>
        </ul>

        <ul class="footer-socials-nav">
            <li class="footer-socials-navItem">
                <a class="footer-navLink" href="https://www.facebook.com/oculusvr" tabindex="20" target="_blank">
                  <i class="footer-socials-icons footer-socials-icons--fb-white"></i>
                </a>
            </li>
            <li class="footer-socials-navItem">
                <a class="footer-navLink" href="https://instagram.com/oculus" tabindex="20" target="_blank">
                  <i class="footer-socials-icons footer-socials-icons--instagram-white"></i>
                </a>
            </li>
            <li class="footer-socials-navItem">
                <a class="footer-navLink" href="https://twitter.com/oculus" tabindex="20" target="_blank">
                  <i class="footer-socials-icons footer-socials-icons--twitter-white"></i>
                </a>
            </li>
            <li class="footer-socials-navItem">
                <a class="footer-navLink" href="https://www.youtube.com/oculusvr" tabindex="20" target="_blank">
                  <i class="footer-socials-icons footer-socials-icons--youtube-white"></i>
                </a>
            </li>
            <li class="footer-socials-navItem">
                <a class="footer-navLink" href="https://www.twitch.tv/oculus/profile" tabindex="20" target="_blank">
                  <i class="footer-socials-icons footer-socials-icons--twitch-white"></i>
                </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</footer>