<div class="header-wrapper">
  <div>
      <div class="header-main">
        <div class="header-content">
            <div class="header-logo">
                <a class="logo-tag" [routerLink]="['']" tabindex="10">
                    <div class="logo-img">Oculus</div>
                </a>
            </div>

            <ul class="header-links">
                <li class="header-link">
                    <a class="header-link-a" [routerLink]="['rift']">Rift</a>
                </li>
                <li class="header-link">
                    <a class="header-link-a" [routerLink]="['gear-vr']">Gear VR</a>
                </li>
                <li class="header-link">
                    <a class="header-link-a" [routerLink]="['experiences/rift']">Experiences</a>
                </li>
                <li class="header-link">
                    <a class="header-link-a" [routerLink]="['developers']">Developers</a>
                </li>
                <li class="header-link">
                    <a class="header-link-a" [routerLink]="['blog']">Blog</a>
                </li>
            </ul>

            <div class="hamburger-menu">
                <a (click)="onClickMenu()">
                    <div class="hamburger">
                        <button class="burger-button">
                            <span class="span-top"></span>
                            <span></span>
                            <span class="span-bottom"></span>
                        </button>
                    </div>
                </a>
            </div>
<!-- If USER LOGGED IN, show this-->
            <div class="header-logged-in"></div>


            <div class="header-account">
                <!--this works-->
                <p style="color: white">{{(user$ | async)?.username}}</p>
                <a class="account-cart" [routerLink]="['cart']">
                    <div class="cart-logo"></div>
                </a>
<!-- If USER LOGGED IN, show this-->
            <div class="header-logged-in">
                <div class="header-logged-in-wrapper">
                    <span>
                        <a class="header-logged-in-account-link" (click)="onProfileClick()">
                            <em class="header-logged-in-account-em">
                                <i class="logged-in-icon"></i>
                                <span class="header-logged-in-accountname">username</span>
                                <i class="logged-in-arrow"></i>
                            </em>
                        </a>
                    </span>
                </div>
            </div>
<!-- If USER NOT LOGGED IN, show this-->
                <!--<a class="login" [routerLink]="['login']">Login</a>-->
            </div>
        </div>
      </div>
  </div>
</div>

<!-- Small-Screen Dropdown Menu from Hamburger -->
<div *ngIf="clickedMenu"class="dropdown">
    <div class="dropdown-x">
        <a class="dropdown-x-a" (click)="onClickMenu()">
            <i class="dropdown-x-icon"></i>
        </a>
    </div>

    <div class="dropdown-links">
        <ul class="dropdown-ul">
<!-- IF USER IS LOGGED IN, SHOW THIS -->
            <li class="dropdown-li">
                <div>
                    <a (click)="onClickUser()">
                        <div class="dropdown-li-a-div">
                            <div class="dropdown-li-a-div-1">
                                <div class="dropdown-li-a-div-1-container">
                                    <i class="dropdown-li-a-user-icon"></i>
                                    <div class="dropdown-li-a-username">Username</div>
                                </div>
                            </div>
                            <i *ngIf="!clickedUserDropdown" class="dropdown-arrow-icon-down arrow-top"></i>
                            <i *ngIf="clickedUserDropdown" class="dropdown-arrow-icon-up arrow-top"></i>
                        </div>
                    </a>
                    <ul *ngIf="clickedUserDropdown" class="dropdown-toggle-list">
                        <li class="dropdown-li">
                            <a [routerLink]="['my/profile']">
                                <div class="dropdown-div">My Profile</div>
                            </a>
                        </li>
                        <li class="dropdown-li">
                            <a [routerLink]="['my/orders']">
                                <div class="dropdown-div">My Orders</div>
                            </a>
                        </li>
                        <li class="dropdown-li">
                            <a>
                                <div class="dropdown-div">My Gear VR</div>
                            </a>
                        </li>
                        <li class="dropdown-li">
                            <a>
                                <div class="dropdown-div">My Rift</div>
                            </a>
                        </li>
                        <li class="dropdown-li" style="border-bottom: none;">
                            <a>
                                <div class="dropdown-div">Logout</div>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
<!---->
            <li class="dropdown-li">
                <a [routerLink]="['login']">
                    <div class="dropdown-div">Login</div>
                </a>
            </li>

            <li class="dropdown-li">
                <a [routerLink]="['']">
                    <div class="dropdown-div">Home</div>
                </a>
            </li>

            <li class="dropdown-li">
                <div>
                    <a (click)="onClickRift()">
                        <div style="position: relative; width: 100%;">
                            <div class="dropdown-div">Rift</div>
                            <i *ngIf="!clickedRift" class="dropdown-arrow-icon-down arrow-top"></i>
                            <i *ngIf="clickedRift" class="dropdown-arrow-icon-up arrow-top"></i>
                        </div>
                    </a>
                    <ul *ngIf="clickedRift" class="dropdown-toggle-list">
                        <li class="dropdown-li">
                            <a [routerLink]="['rift']">
                                <div class="dropdown-div">Rift</div>
                            </a>
                        </li>
                        <li class="dropdown-li">
                            <a [routerLink]="['/rift/ready']">
                                <div class="dropdown-div">Oculus Ready PCs</div>
                            </a>
                        </li>
                        <li class="dropdown-li" style="border-bottom: none;">
                            <a href="https://live.oculus.com/">
                                <div class="dropdown-div">Touch</div>
                            </a>
                        </li>
                    </ul>    
                </div>
            </li>
            <li class="dropdown-li">
                <a [routerLink]="['gear-vr']">
                    <div class="dropdown-div">Gear VR</div>
                </a>
            </li>
            <li class="dropdown-li">
                <div>
                    <a (click)="onClickExperiences()">
                        <div style="position: relative; width: 100%;">
                            <div class="dropdown-div">Experiences</div>
                            <i *ngIf="!clickedExperiences" class="dropdown-arrow-icon-down arrow-top"></i>
                            <i *ngIf="clickedExperiences" class="dropdown-arrow-icon-up arrow-top"></i>
                        </div>
                    </a>
                    <ul *ngIf="clickedExperiences" class="dropdown-toggle-list">
                        <li class="dropdown-li">
                            <a [routerLink]="['experiences/gear-vr']">
                                <div class="dropdown-div">Gear VR</div>
                            </a>
                        </li>
                        <li class="dropdown-li" style="border-bottom: none;">
                            <a [routerLink]="['experiences/rift']">
                                <div class="dropdown-div">Rift</div>
                            </a>
                        </li>
                    </ul>    
                </div>
            </li>
            <li class="dropdown-li">
                <a [routerLink]="['developers']">
                    <div class="dropdown-div">Developers</div>
                </a>
            </li>
            <li class="dropdown-li" style="border-bottom: none;">
                <a [routerLink]="['blog']">
                    <div class="dropdown-div">Blog</div>
                </a>
            </li>
        </ul>
    </div>
</div>


<!-- Small "My Account" Dropdown -->
<!-- Only show if user logged in and click on user account in top right -->
<div *ngIf="profileDropdownClick" class="loggedIn-dropdown">
    <div class="loggedIn-dropdown-container">
        <div class="loggedIn-dropdown-content">
            <div class="loggedIn-dropdown-content-box">
                <div class="loggedIn-empty-div">
                    <ul class="loggedIn-dropdown-ul">
                        <li class="loggedIn-dropdown-li" [routerLink]="['my/profile']">
                            <em class="loggedIn-dropdown-li-em">My Profile</em>
                        </li>
                        <li class="loggedIn-dropdown-li" [routerLink]="['my/orders']">
                            <em class="loggedIn-dropdown-li-em">My Orders</em>
                        </li>
                        <li class="loggedIn-dropdown-li">
                            <em class="loggedIn-dropdown-li-em">My Gear VR</em>
                        </li>
                        <li class="loggedIn-dropdown-li">
                            <em class="loggedIn-dropdown-li-em">My Rift</em>
                        </li>
                        <li class="loggedIn-dropdown-li">
                            <em class="loggedIn-dropdown-li-em">Logout</em>
                        </li>
                    </ul>
                </div>
            </div>
            <i class="loggedIn-dropdown-icon"></i>
        </div>
    </div>
</div>