// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// 									 TABLE OF CONTENTS										//
// 	 						1. Main Navigation				- Line 17						//
// 	 							1a. Logo					- Line 36						//
// 	 							1b. Main Links				- Line 59						//
// 	 						2. Hamburger Menu 				- Line 89						//
// 	 							2a. User LOGGED IN 			- Line 157						//
// 	 						3. Cart, Login, User Profile	- Line 218						//
// 	 						4. Drop-down Hamburger Menu		- Line 277						//
// 	 							4a. USER LOGGED IN 			- Line 353						//
// 	 						5. Logged-in Dropdown Modal 	- Line 438						//
// 	 						6. Media Queries 				- Line 509						//
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// 																							//
// 	 								 1. Main Navigation 									//
// 																							//
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
.header-wrapper {
    height: 60px;
    background-color: #1c1e20;
}
.header-main {
    list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1000;
}
.header-content {
    position: relative;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// 	 				  1a. Logo		 				//																		
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
.header-logo {
    position: absolute;
}
.logo-tag {
    float: none;
	left: 40px;
	margin: 0 0;
	position: absolute;
	top: 14px;
}
.logo-img {
    background: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Header+Component/header-logo.png') no-repeat 0 0;
	display: block;
	float: left;
	height: 32px;
	text-indent: -9999em;
	transition: opacity 500ms;
	width: 52px;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// 	 				1b. Main Links  				//																		
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
.header-links {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.header-link {
    display: inline-block;
    font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
	font-weight: 600;
	margin: 0 11px;
	padding: 0 10px;
    -webkit-font-smoothing: antialiased;
}
.header-link-a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
	line-height: 60px;
	transition: color 250ms;
    background: transparent;
}
.header-link-a:hover, .header-link-a:focus {
    color: #777879;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// 																							//
// 	 								 2. Hamburger Menu  									//
// 																							//
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
.hamburger-menu {
    display: none;
    position: absolute;
	right: 0;
	top: 0;
}
.hamburger {
    bottom: 0;
	height: 30px;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
}
.burger-button {
    -webkit-appearance: none;
	background: 0 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 30px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-indent: -9999px;
	transition: background .3s;
	width: 30px;
    font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
    text-transform: none;
}
.burger-button span {
    background: #fff;
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	right: 0;
	top: 8px;
}
.burger-button span:before {
    background-color: #fff;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
    top: -8px;
}
.burger-button span:after {
    background-color: #fff;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
    bottom: -8px;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// 	 			2a. USER LOGGED IN DISPLAY	 		//																		
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
.header-logged-in {
	display: inline-block;
}
.header-logged-in-account-link {
	cursor: pointer;
	background: transparent;
	color: #fff;
	transition: opacity 250ms;
	text-decoration: none;
}
.header-logged-in-account-link:hover, .header-logged-in-account-link:focus, .header-logged-in-account-link:visited, {
	text-decoration: none;
} 
.header-logged-in-account-link:hover {
	color: #fff;
	opacity: .35;
	transition: none;
}
.header-logged-in-account-em {
	font-style: normal;
}
.logged-in-icon {
	background: url('https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/v8LO-UvNIFd.png') no-repeat 0 0;
	color: rgba(50, 52, 54, 0);
	display: inline-block;
	height: 24px;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	overflow: hidden;
	text-indent: 24px;
	vertical-align: bottom;
	width: 24px;
	background-size: 192px auto;
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/7YkOlCJCBYB.png');
	background-position: -48px 0;
	margin: 18px 0;
}
.header-logged-in-accountname {
	margin-left: 8px;
}
.logged-in-arrow {
	background: url('https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/v8LO-UvNIFd.png') no-repeat 0 0;
	color: rgba(50, 52, 54, 0);
	display: inline-block;
	height: 24px;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	overflow: hidden;
	text-indent: 24px;
	vertical-align: bottom;
	width: 24px;
	background-size: 192px auto;
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/7YkOlCJCBYB.png');
	background-position: -48px -216px;
	margin: 18px 0;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// 																							//
// 	 						 3. Cart, Login Button, User Account							//
// 																							//
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
.header-account {
    line-height: 60px;
	margin-right: 28px;
	position: absolute;
	right: 0;
	top: 0;
}
.account-cart {
    text-decoration: none;
    display: inline-block;
    padding: 0 8px;
}
.cart-logo {
    background: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Header+Component/header-cart.png');
    background-size: 48px 48px;
    height: 48px;
    width: 48px;
    display: inline-block;
    vertical-align: middle;
}
.cart-items {
	display: inline-block;
	vertical-align: middle;
}
.cart-items-p {
	background: #1574d4;
	color: #fff;
	font-size: 12px;
	font-weight: 100;
	height: 14px;
	line-height: 14px;
	margin: 4px 0 0 -4px;
	min-width: 14px;
	padding: 2px;
	text-align: center;
}
.login {
    border: 2px solid #fff;
	border-radius: 20px;
	color: #fff;
	padding: 1px 16px 3px 16px;
	transition: border-color 300ms ease-in, background-color 300ms ease-in;
    text-decoration: none;
    font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 60px;
}
.login:hover {
    background-color: #a4a5a6;
	border-color: #a4a5a6;
	color: #323436;
	transition: border-color 300ms ease-in, background-color 300ms ease-in;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// 																							//
// 	 								 4. Drop-down Hamburger Menu							//
// 																							//
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
.dropdown {
    background-color: #16181a;
	bottom: 0;
	display: block;
	max-width: 0;
	overflow: hidden;
	padding-top: 48px;
	position: absolute;
	right: 0;
	top: 0;
	transition: max-width .4s ease-out;
	width: 70%;
	z-index: 1000;
}
.dropdown-x {
    display: block;
	position: absolute;
	right: 0;
	top: 0;
}
.dropdown-x-a {
    text-decoration: none;
    color: #8d8e8f;
    transition: color 250ms;
    background: transparent;
}
.dropdown-x-icon {
    background: url('https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/3CGuWj4u7Uy.png') no-repeat 0 0;
	color: #fff;
	display: inline-block;
	height: 48px;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	overflow: hidden;
	text-indent: 48px;
	vertical-align: bottom;
	width: 48px;
    background: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Header+Component/dropdown-x.png') no-repeat 0 0; 
    background-size: 384px auto;
    background-position: -48px -48px;
}

.dropdown-ul {
    margin: 0;
    padding: 0 0 0 24px;
    list-style-type: none;
    display: block;
    -webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
.dropdown-li {
    border-bottom: 1px solid #28292b;
	display: block;
	font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	min-width: 30vw;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 32px;
	padding-top: 16px;
	text-overflow: clip;
	transition: background-color .2s;
}
.dropdown-li a {
    text-decoration: none;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// 	 			4a. USER LOGGED IN 			 		//																		
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
.dropdown-li-a-div {
	position: relative;
	width: 100%;
}
.dropdown-li-a-div-1 {
	color: #fff;
	transition: color .2s;
}
.dropdown-li-a-div-1-container {
	display: block;
}
.dropdown-li-a-user-icon {
	background: url('https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/v8LO-UvNIFd.png') no-repeat 0 0;
	color: rgba(50, 52, 54, 0);
	display: inline-block;
	height: 24px;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	overflow: hidden;
	text-indent: 24px;
	vertical-align: bottom;
	width: 24px;
	background-size: 192px auto;
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/7YkOlCJCBYB.png');
	background-position: -48px 0;
}
.dropdown-li-a-username {
	display: inline-block;
	margin-left: 16px;
	vertical-align: middle;
}

//////////////////////////////////////////////////////
.dropdown-div {
    color: #fff;
	transition: color .2s;
}
.arrow-top {
    position: absolute;
	right: 0;
	top: 0;
}
.dropdown-arrow-icon-down {
    background: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Header+Component/dropdown-arrow-icon2.png') no-repeat 0 0;
	color: rgba(50, 52, 54, 0);
	display: inline-block;
	height: 24px;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	overflow: hidden;
	text-indent: 24px;
	vertical-align: bottom;
	width: 24px;
    background-image: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Header+Component/dropdown-arrow-icon.png');
    background-size: 192px auto;
    background-position: -144px -216px;
}
.dropdown-arrow-icon-up {
    background: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Header+Component/dropdown-arrow-icon2.png') no-repeat 0 0;
	color: rgba(50, 52, 54, 0);
	display: inline-block;
	height: 24px;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	overflow: hidden;
	text-indent: 24px;
	vertical-align: bottom;
	width: 24px;
    background-image: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Header+Component/dropdown-arrow-icon.png');
    background-size: 192px auto;
    background-position: -96px -216px;
}

.dropdown-toggle-list {
    margin: 0;
    padding: 0 0 0 24px;
    list-style-type: none;
    -webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// 																							//
// 	 							5. Logged-in Dropdown Modal: ;								//
// 																							//
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
.loggedIn-dropdown {
	outline: none;
	height: 0;
	position: absolute;
	width: 1555px;
	right: 28px;
	top: 41.1111px;
	z-index: 1000;
}
.loggedIn-dropdown-container {
	position: absolute;
	right: 0px;
}
.loggedIn-dropdown-content {
	padding-bottom: 14px;
	padding-top: 14px;
}
.loggedIn-dropdown-content-box {
	background: #fff;
	position: relative;
	border: 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px 1px rgba(0,0,0,.35);
	line-height: 1.2em;
}
.loggedIn-dropdown-ul {
	list-style-type: none;
	font-size: 14px;
	max-height: 400px;
	overflow-y: auto;
	padding: 4px 0;
	margin: 0;
}
.loggedIn-dropdown-li {
	display: list-item;
	text-align: -webkit-match-parent;
	border-bottom: 1px #f0f0f0 solid;
	line-height: 32px;
	max-width: 300px;
	overflow-x: hidden;
	padding: 8px 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.loggedIn-dropdown-li:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}
.loggedIn-dropdown-li-em {
	font-style: normal;
}
.loggedIn-dropdown-icon {
	font-style: italic;
	overflow: hidden;
	position: absolute;
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y1/r/NvmV47aKbsa.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -86px;
	height: 8px;
	top: 7px;
	width: 16px;
	left: 100%;
	margin-left: -28px;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// 																							//
// 	 								6. Media Queries											//
// 																							//
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
@media screen and (max-width: 999px) {
    .header-main {
        min-width: inherit;
    }
    .header-links {
        display: none;
    }
    .header-account {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .logo-tag {
        left: 20px;
        top: 15px;
    }
    .dropdown {
        width: 70%;
        z-index: 1000;
        max-width: 70%;
        overflow-x: hidden;
        overflow-y: scroll;
        visibility: visible;
        transition: max-width .4s ease-out;
    }
}