<div class="header-wrapper">
  <div>
      <div class="header-main">
        <div class="header-content">
            <div class="header-logo">
                <a class="logo-tag" [routerLink]="['']" tabindex="10">
                    <div class="logo-img">Oculus</div>
                </a>
            </div>

            <ul class="header-links">
                <li class="header-link">
                    <a class="header-link-a" [routerLink]="['rift']">Rift</a>
                    <!--<ul class="header-dropdown-links">
                        <li class="header-dropdown-link">
                            <a href="">Rift</a>
                        </li>
                    </ul>-->
                </li>
                <li class="header-link">
                    <a class="header-link-a" [routerLink]="['']">Gear VR</a>
                </li>
                <li class="header-link">
                    <a class="header-link-a" [routerLink]="['']">Experiences</a>
                </li>
                <li class="header-link">
                    <a class="header-link-a" [routerLink]="['']">Developers</a>
                </li>
                <li class="header-link">
                    <a class="header-link-a" [routerLink]="['']">Blog</a>
                </li>
            </ul>

            <div>

            </div>

            <div class="header-account">
                <a class="account-cart">
                    <div class="cart-logo"></div>
                </a>
                <a class="login" href="#">Login</a>
            </div>
        </div>
      </div>
  </div>
</div>