<header>
  <section class = 'top-page'>
    <div class = 'img-container'>
      <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Developers+Component/img1.jpg'>
      
      <div class = 'text'>
        <h1>Turn your ideas into realities</h1>
        <p>Build compelling games, apps, and social experiences for VR. Easily develop across the entire Oculus platform with integrations to your favorite game engines, or with our native PC and mobile SDKs.</p>
      </div>
      
    </div>
  </section>
  <section class = 'second-content'>
    <div class = 'image-wrapper'>

      <div class = 'images'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Developers+Component/img2.jpg'>
        <div>Mobile</div>
      </div>
      
      <div class = 'images'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Developers+Component/img3.jpg'>
        <div>PC</div>
      </div>
      <div class = 'images'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Developers+Component/img4.jpg'>
        <div>WebVr</div>
      </div>
    </div>
  </section>

  <section>
    <div class = 'content-wraper'>
      <div class = 'content1'>
        <p>Developer Spotlight</p><hr>
        <div class = 'img70'>
          <a href = 'https://www.youtube.com/watch?v=XUB5DffvjO4'>
            <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Developers+Component/img5.jpg'>
          </a>
          <h1>Meet Playful, the talented team behind Lucky's Tale, available on Rift. Watch as the team walks us through how Lucky's Tale came to be – from idea, to concept, to virtual reality.</h1>
        </div>
      </div>
      <div class = 'content2'>
        <p>Latest</p><hr>
        <div>
          <h1>Operation: Developer Feedback</h1>
          <h2>December 12, 2016</h2>
        </div>
        <div>
          <h1>Carmel Developer Preview Launches Today</h1>
          <h2>December 9, 2016</h2>
        </div>
        <div>
          <h1>Developer Perspectives: Obduction</h1>
          <h2>December 2, 2016</h2>
        </div>
        <div>
          <h1>Asynchronous Spacewarp</h1>
          <h2>November 10, 2016</h2>
        </div>
      </div>

    </div>
  </section>
  <section class = 'top-page'>
    <!--<div class = 'image-container1'>
      <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Developers+Component/img6.jpg'>
      <div class = 'text1'>
        <h1>Create best-in-class experiences</h1>
        <p>Take advantage of our state-of-the-art development tools and SDKs. Whether you're a beginner or advanced developer, we have a wide range of features, packages, and support materials to help you build the best experience possible for PC and mobile.</p>
      </div>
    </div>-->
    <div class = 'sample-img'>
        <h1>Create best-in-class experiences</h1>
        <p>Take advantage of our state-of-the-art development tools and SDKs. Whether you're a beginner or advanced developer, we have a wide range of features, packages, and support materials to help you build the best experience possible for PC and mobile.</p>

    </div>
  </section>
  
  <section class = 'content-five'>
    <div class = 'content-wraper'>
      <div class = 'img-content'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Developers+Component/img11.jpg'>
      </div>
      <div class = 'content-desc'>
        <h1>Powerful SDKs and flexible integrations</h1>
        <p>Unity and Unreal come with out-of-the-box support for Oculus hardware. Improve sound quality with minimal performance overhead by using the Oculus Audio SDK, develop dynamic social experiences with our Platform SDK, and explore tutorials, sample scenes, custom utility packages, and more.</p>
        <a href = 'https://developer3.oculus.com/downloads/'>
        >> Download now</a>
      </div>
    </div>
  </section>
    <section class = 'content-five'>
    <div class = 'content-wraper'>

      <div class = 'content-desc'>
        <h1>Dynamic Store</h1>
        <p>Oculus Store is at the leading edge of innovation in content discovery. Taking advantage of the uniquely immersive environment made possible by VR, we provide our customers with a delightful browsing and shopping environment that showcases your work in ways never before imagined by digital storefronts.</p>
        <a href = 'https://developer3.oculus.com/documentation/publish/latest/'>
        >> Download now</a>
      </div>
      <div class = 'img-content'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Developers+Component/img7.jpg'>
      </div>
    </div>
  </section>
    <section class = 'content-five'>
    <div class = 'content-wraper'>
      <div class = 'img-content'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Developers+Component/img8.jpg'>
      </div>
      <div class = 'content-desc'>
        <h1>Ready to Build?</h1>
        <p>Get started with our documentation and developer guides. Learn from industry pioneers and get help from other VR developers in our forums.</p>
        <a href = 'https://developer3.oculus.com/documentation/intro-vr/latest/concepts/bp_intro/'>
        >> Download now</a>
      </div>
    </div>
  </section>
  <section class = 'last-content'>
    <h1>Featured Blog Posts</h1><hr>
    
    <div class = 'last-content-img'>

     <div class = 'last-column'> 
     <div class = 'last-img'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Developers+Component/img9.png'>
      </div>
      <div class = 'last-desc'>
        <h1>Carmel Developer Preview Launches Today</h1>
        <h2>December 9, 2016</h2>
        <h3>Meet the developer preview of Carmel, designed to bring web content...</h3>
      </div>
     </div>

     <div class = 'last-column'>
      <div class = 'last-img'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Developers+Component/img9.jpg'>
      </div>
      <div class = 'last-desc'>
        <h1>Oculus Developer Updates from OC3</h1>
        <h2>October 7, 2016</h2>
        <h3>Yesterday’s Oculus Connect 3 keynote was packed with exciting announcements...</h3>
      </div>
     </div>

     <div class = 'last-column'>
      <div class = 'last-img'>
        <img src = 'https://s3-us-west-1.amazonaws.com/devmtn-oculus/Developers+Component/img10.jpg'>
      </div>
      <div class = 'last-desc'>
        <h1>Sharing VR Through Video: Mixed-Reality in The Unspoken</h1>
        <h2>September 2, 2016</h2>
        <h3>“So… what’s it like to, you know, be in VR?”...</h3>

      </div>
     </div> 
    </div>
  </section>
</header>