#header {
    height: 60px;
    z-index: 1000;
    position: relative;
    background: 0 0;
    display: block
}

.page-product {
    overflow: hidden;
}
.section1 {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-color: #fff;
    padding-bottom: 0;
    margin-top: 60px;
    min-height: 500px;
    margin-top: -80px;
    position: relative;
    color: #323436;
    background: #fff;
    background: #0e0e0e;
    height: auto;
    margin: 0;
    text-align: center;

}

.section1-image {
    background-image: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Rift+Component/hero1.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    margin-top: -46px;
    padding-top: 147%;
}

.section1-container {
    // display: inline-block;
    // margin-top: -390px;
    // padding: 0 26px;
    // vertical-align: top;
    // margin: auto;
}

.section1-content {
    // color: #fff;
    // margin: auto;
    // padding: 0 25px;
    // z-index: 1;
    // margin: auto;
    // max-width: 640px;
    // text-align: center;
    // -webkit-box-sizing: border-box;
    // -moz-box-sizing: border-box;
    // box-sizing: border-box;
    // padding: 60px 25px;
}
.section1-content-h1 {
    // line-height: 48px;
    // font-weight: 900;
    // font-size: 40px;
    // font-family: "Oculus Sans";
}

.product-name {
    // background-image: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Rift+Component/rift_touch_h1_desktopx2.png');
    // background-position: center center;
    // background-repeat: no-repeat;
    // height: 60px;
    // margin: 0;
}

.section1-content-h3 {
    // font-size: 22px;
    // text-align: left;
    // margin: 0;
}




// Media Queries
@media screen and (min-width:1025px) {
    #header .header-lower,
    #header .sub-nav {
        padding: 0;
        text-align: center;
        position: relative;
        list-style: none
    }
    #header .header-lower li,
    #header .sub-nav li {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 60px
    }
    #header .sub-nav {
        margin: 0;
        display: inline-block;
        width: 100%
    }
    #header .sub-nav li {
        display: inline-block;
        margin: 0 15px;
        padding: 0 8px;
        font-weight: 400
    }
    #header .sub-nav li a {
        display: block;
        color: #fff;
        font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
    }
    
    #header .sub-nav li.active a {
        color: #fff;
        opacity: .8
    }
    #header .header-lower .header-translucent .sub-nav {
        background-color: rgba(255, 255, 255, .85)
    }
    #header .header-translucent .sub-nav li a {
        color: #777879;
        text-decoration: none
    }
    #header .header-lower .header-translucent .sub-nav li a:hover {
        color: #000
    }
    #header .header-translucent .sub-nav li.active {
        border-bottom: solid 2px #000
    }
    #header .header-translucent .sub-nav li.active a {
        color: #000;
        font-weight: 700
    }

    #header .header-lower {
        text-align: center;
    }   
    .section1-image {
        background-image: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Rift+Component/hero2.jpg');
        padding-top: 58%;
    }
    .section1-container {
        max-width: calc(1184px + 80px);
        margin: auto;
        padding-left: 40px;
        padding-right: 40px;
        text-align: left;
    }
    .section1-content {
        width: 340px;
    } 
}
