 <div class="wrapper">
    <div class="page" data-shim="">
        <div id="header">
            <div class="header-lower header-translucent">
                <ul class="sub-nav">
                    <li class="active"> <a [routerLink]="['/rift']">Overview</a> </li>
                    <li> <a [routerLink]="['/rift/ready']">Oculus Ready PCs</a> </li>
                    <li> <a href="https://live.oculus.com/" target="_blank">Book a Demo</a></li>
                </ul>
            </div>
        </div>

         <div class="page-product" id="page-content">
            <section class="section1">
                <div class="section1-image" >
                    <div class="section1-container">
                        <!--<div class="section1-content">
                            <h1 class="section1-content-h1">Rift Touch</h1>
                            <h3 class=".section1-content-h3">Next-generation virtual reality just got better</h3>
                        </div>-->
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

 