#header {
    height: 60px;
    z-index: 1000;
    position: relative;
    background: 0 0;
    display: block
}

.page-product {
    overflow: hidden;
}
.section1 {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-color: #fff;
    padding-bottom: 0;
    margin-top: 60px;
    min-height: 500px;
    margin-top: -80px;
    position: relative;
    color: #323436;
    background: #fff;
    background: #0e0e0e;
    height: auto;
    margin: 0;
    text-align: center;

}

.section1-image {
    background-image: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Rift+Component/hero1.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    margin-top: -46px;
    padding-top: 147%;
}
.section1-container {
    margin: auto;
    display: inline-block;
    margin-top: -390px;
    padding: 0 26px;
    vertical-align: top;
}
.section1-content {
    max-width: 640px;
    box-sizing: border-box;
    margin: auto;
    z-index: 1;
}
.section1-content-div {
    background-image: url('https://static.oculus.com/web/www_static/production/US/1b2690a6efbe1b8e4685a1e6973c009440c2e19c/images/wordmarks/rift_touch_h1_desktop.png');
    background-position: left center;
    background-repeat: no-repeat;
    height: 60px;
    margin: 0;
}
.section1-content-h3 {
    margin: 0;
    transition-delay: 50ms;
    font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
    line-height: 32px;
    font-weight: 600;
}

// Section 1 - Ordering
.section1-ordering {
    margin: 0 auto;
    max-width: 1000px;
    // padding: 0 20px;
    text-align: center;
    min-width: 0;
    background: #fff;
    margin-top: -120px;
    padding: 20px;
}
.section1-ordering-boxes {
    padding: 10px;
    width: 33.33333333%;
    box-sizing: border-box;
    float: left;
}
.section1-item-cart-product-info {
    float: left;
    text-align: left;
    font-family: "Oculus Sans";
}
.section1-product-title {
    font-size: 20px;
    text-align: left;
}
.section1-product-price {
    color: #1574d4;
    display: block;
    text-align: left;
}
.section1-button {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    font-weight: 600;
    margin: 0 6px 12px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 22px;
    border: 2px solid #1c1e20;
    background-color: #1c1e20;
    color: #fff;
    padding: 11px 39px 10px;
    min-width: 180px;
    font-size: 14px;
    -webkit-transition: color .3s,background .3s,border .3s;
    transition: color .3s,background .3s,border .3s;
    background-color: #1574d4;
    border-color: #1574d4;
    font-size: 12px;
    padding: 5px 29px 4px;
    min-width: 150px;
    float: right;
}

.section1-clear {
    display: block;
    width: 0;
    overflow: hidden;
    height: 0;
    visibility: hidden;
}





// Media Queries
@media screen and (min-width:1025px) {
    #header .header-lower,
    #header .sub-nav {
        padding: 0;
        text-align: center;
        position: relative;
        list-style: none
    }
    #header .header-lower li,
    #header .sub-nav li {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 60px
    }
    #header .sub-nav {
        margin: 0;
        display: inline-block;
        width: 100%
    }
    #header .sub-nav li {
        display: inline-block;
        margin: 0 15px;
        padding: 0 8px;
        font-weight: 400
    }
    #header .sub-nav li a {
        display: block;
        color: #fff;
        font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
    }
    
    #header .sub-nav li.active a {
        color: #fff;
        opacity: .8
    }
    #header .header-lower .header-translucent .sub-nav {
        background-color: rgba(255, 255, 255, .85)
    }
    #header .header-translucent .sub-nav li a {
        color: #777879;
        text-decoration: none
    }
    #header .header-lower .header-translucent .sub-nav li a:hover {
        color: #000
    }
    #header .header-translucent .sub-nav li.active {
        border-bottom: solid 2px #000
    }
    #header .header-translucent .sub-nav li.active a {
        color: #000;
        font-weight: 700
    }

    #header .header-lower {
        text-align: center;
    }   
    .section1-image {
        background-image: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Rift+Component/hero2.jpg');
        padding-top: 58%;
    }
    .section1-container {
        max-width: calc(1184px + 80px);
        margin: auto;
        padding-left: 40px;
        padding-right: 40px;
        text-align: left;
    }
    .section1-content {
        width: 340px;
    }
    .section1-product-title {
        font-size: 20px;
    }
    .section1-button {
        padding: 5px 29px;
        min-width: 150px;
    }
}

@media screen and (min-width: 641px) {
    .section1-content {
        color: #1c1e20;
        left: 58%;
        position: absolute;
        top: 42%;
        margin-top: calc(-370px / 2);
        width: 270px;
        padding: 0;
        text-align: left;
    }
    .section1-content-h3 {

    }
    .section1-product-title {
        font-size: 16px;
    }
    .section1-button {
        padding: 5px 18px;
        min-width: 120px;
    }
}
