 <div class="wrapper">
    <div class="page" data-shim="">
        <div id="header">
            <div class="header-lower header-translucent">
                <ul class="sub-nav">
                    <li class="active"> <a [routerLink]="['/rift']">Overview</a> </li>
                    <li> <a [routerLink]="['/rift/ready']">Oculus Ready PCs</a> </li>
                    <li> <a href="https://live.oculus.com/" target="_blank">Book a Demo</a></li>
                </ul>
            </div>
        </div>

         <div class="page-product">
            <section class="section1">
                <div class="section1-image"></div>

                <div class="section1-container">
                    <div class="section1-content">
                        <div class="section1-content-div"></div>
                        <h3 class="section1-content-h3">Next-generation virtual reality just got better</h3>
                    </div>
                </div>

                <div class="section1-ordering">
                    <div class="section1-item1 section1-ordering-boxes">
                        <img src="https://static.oculus.com/web/www_static/production/US/1b2690a6efbe1b8e4685a1e6973c009440c2e19c/images/rift/sales_rift.jpg" />
                        <div class="section1-item-cart">
                            <div class="section1-item-cart-product-info">
                                <span class="section1-product-title">Rift</span>
                                <span class="section1-product-price">$599<sup>*</sup></span>
                            </div>
                        </div>
                        <form>
                            <button class="section1-button">Add to Cart</button>
                        </form>
                    </div>

                    <div class="section1-item2 section1-ordering-boxes">
                        <img src="https://s3-us-west-1.amazonaws.com/devmtn-oculus/Rift+Component/sales_touch.jpg" />
                        <div class="section1-item-cart">
                            <div class="section1-item-cart-product-info">
                                <span class="section1-product-title">Touch</span>
                                <span class="section1-product-price">$199<sup>*</sup></span>
                            </div>
                        </div>
                        <form>
                            <button class="section1-button">Add to Cart</button>
                        </form>

                    </div>

                    <div class="section1-item3 section1-ordering-boxes">
                        <img src="https://s3-us-west-1.amazonaws.com/devmtn-oculus/Rift+Component/sales_riftTouch.jpg" />
                        <div class="section1-item-cart">
                            <div class="section1-item-cart-product-info">
                                <span class="section1-product-title">Rift + Touch</span>
                                <span class="section1-product-price">$798<sup>*</sup></span>
                            </div>
                        </div>
                        <form>
                            <button class="section1-button">Add to Cart</button>
                        </form>
                            <div class="section1-disclaimer"></div>
                            <div class="section1-clear"></div>
                            
                    </div>
                </div>

            </section>

        </div>
    </div>
</div>

 