/* You can add global styles to this file, and also import other style files */
@font-face { font-family: "Oculus Sans"; src: url("./assets/fonts/OculusSansKR-Regular.ttf"); }
@font-face { font-family: "Oculus Sans Bold"; src: url("./assets/fonts/OculusSansKR-Bold.ttf"); }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}