<div class="bxGrid__column bxGrid__column-75 _4f1n _4f1q">
  <div class="_4h-a">
    <h1 class="bxHeading bxHeading--level-2 _18ie"><em class="_4qba" data-intl-translation="My Profile" data-intl-trid=""><!-- react-text: 427 -->My Profile<!-- /react-text --></em></h1>
    <div class="_4cip">
      <h2 class="bxHeading _4cis bxHeading--level-4"><em class="_4qba" data-intl-translation="Personal Info" data-intl-trid=""><!-- react-text: 431 -->Personal Info<!-- /react-text --></em></h2>
      <div>
        <div class="bxGrid bxGrid--parent bxGrid--padding-3">
          <div class="bxGrid__column bxGrid__column-50 _1ag-"><label class="_17l8"><em class="_4qba" data-intl-translation="Username: {alias}" data-intl-trid=""><!-- react-text: 437 -->Username: <!-- /react-text --><span class="_20ae">cskidz99</span><!-- react-text: 439 --><!-- /react-text --></em></label></div>
          <div
            class="bxGrid__column bxGrid__column-50 _1ag-"><label class="_17l8"><em class="_4qba" data-intl-translation="Email: {email}" data-intl-trid=""><!-- react-text: 443 -->Email: <!-- /react-text --><span class="_20ae">cskidz99@gmail.com</span><!-- react-text: 445 --><!-- /react-text --></em></label></div>
        </div>
        <div class="bxGrid bxGrid--parent bxGrid--padding-3">
          <div class="bxGrid__column bxGrid__column-50 _1ag-"><label class="_17l8"><em class="_4qba" data-intl-translation="Full Name: {full_name}" data-intl-trid=""><!-- react-text: 450 -->Full Name: <!-- /react-text --><span class="_20ae">Cameron Skidmore</span><!-- react-text: 452 --><!-- /react-text --></em></label></div>
          <div
            class="bxGrid__column bxGrid__column-50 _1ag-"><label class="_17l8"><em class="_4qba" data-intl-translation="Language: {language}" data-intl-trid=""><!-- react-text: 456 -->Language: <!-- /react-text --><span class="_20ae">English (US)</span><!-- react-text: 458 --><!-- /react-text --></em></label></div>
        </div>
      </div>
    </div>
    <div class="_4cip">
      <h2 class="bxHeading _4cis bxHeading--level-4"><em class="_4qba" data-intl-translation="Password" data-intl-trid=""><!-- react-text: 462 -->Password<!-- /react-text --></em>
        <span
          class="_4cit"><em class="_4qba" data-intl-translation="Edit" data-intl-trid=""><!-- react-text: 465 -->Edit<!-- /react-text --></em></span>
      </h2>
      <div class="_1h9x">**********</div>
    </div>
    <div class="_4cip">
      <h2 class="bxHeading _4cis bxHeading--level-4"><em class="_4qba" data-intl-translation="PIN" data-intl-trid=""><!-- react-text: 470 -->PIN<!-- /react-text --></em>
        <span
          class="_4cit"><em class="_4qba" data-intl-translation="Set" data-intl-trid=""><!-- react-text: 473 -->Set<!-- /react-text --></em></span>
      </h2>
      <div class="_1h9x"><em class="_4qba" data-intl-translation="No PIN has been set." data-intl-trid=""><!-- react-text: 476 -->No PIN has been set.<!-- /react-text --></em></div>
    </div>
  </div>
</div>
