<div id="my-profile">

<div class="profile-container">
  <div class="profile-info-container">
    <h1 class="bxHeading"><em class="" data-intl-translation="My Profile" data-intl-trid="">My Profile</em></h1>
    <div class="info-section">
      <h2 class=""><em class="" data-intl-translation="Personal Info" data-intl-trid="">Personal Info</em></h2>
      <div>
        <div class="bxGrid bxGrid--parent">
          <div class="bxGrid__column">
            <label class="">
              <em class="" data-intl-translation="Username: {alias}" data-intl-trid="">Username: <span class="dynamic-user-info">{{(user$ | async)?.username}}</span></em>
            </label>
          </div>
          <div class="bxGrid__column">
            <label class="">
              <em class="" data-intl-translation="Email: {email}" data-intl-trid="">Email: <span class="dynamic-user-info">{{(user$ | async)?.email}}</span></em>
            </label>
          </div>
        </div>
        <div class="bxGrid bxGrid--parent">
          <div class="bxGrid__column">
            <label class="">
              <em class="" data-intl-translation="Full Name: {full_name}" data-intl-trid="">Full Name: <span class="dynamic-user-info">{{(user$ | async)?.firstname}} {{(user$ | async)?.lastname}}</span></em>
            </label>
          </div>
          <div class="bxGrid__column">
            <label class="">
              <em class="" data-intl-translation="Language: {language}" data-intl-trid="">Language: <span class="dynamic-user-info">English (US)</span></em>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="info-section">
      <h2 class=""><em class="" data-intl-translation="Password" data-intl-trid="">Password</em>
        <span class="edit-info-link"><em class="" data-intl-translation="Edit" data-intl-trid="">Edit</em></span>
      </h2>
      <div class="sub-info">**********</div>
    </div>
    <div class="info-section">
      <h2 class=""><em class="" data-intl-translation="PIN" data-intl-trid="">PIN</em>
        <span class="edit-info-link"><em class="" data-intl-translation="Set" data-intl-trid="">Set</em></span>
      </h2>
      <div class="sub-info"><em class="" data-intl-translation="No PIN has been set." data-intl-trid="">No PIN has been set.</em></div>
    </div>
  </div>
</div>
  
</div>
