.home {
    display: block;
    height: 792px;
}
.home-content {
    background-color: #fff;
    color: #323436;
}
.home-content1 {
    position: relative;
	transition: margin 250ms ease-in-out;
    background-position: center bottom;
	background-repeat: no-repeat;
	border-width: 0;
	box-sizing: border-box;
	clear: both;
	display: block;
	text-align: center;
	z-index: 10;
}

// ~~~~~~~~~~~~~~~~~ //
// 		Section 1    //
// ~~~~~~~~~~~~~~~~~ //
.content-container {
    display: block;
	position: relative;
	text-align: center;
    height: 834px;
}
.content-img {
    background-color: #f5f5f5;
	color: #323436;
}
.content-box {
    display: inline-block;
	height: 100%;
	margin: 0 auto;
	width: 100%;
}

.content1-box1 {
    position: absolute;
    top: 10%;
    width: 100%;
    z-index: 1;
    display: block;
}
.box1-img {
    display: inline-block;
    text-align: center;
    width: initial;
}

.content1-box2 {
    display: block;
}
.box2-img {
    border: none;
    width: 100%;
}

.content1-box3 {
    display: block;
	margin-bottom: 24px;
	margin-top: 24px;
	overflow: hidden;
	position: relative;
	width: auto;
}
.box3-header {
    display: block;
    font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
    margin-bottom: .5rem;
    font-size: 30px;
    font-weight: 100;
    line-height: 38px;
    color: #1c1e20;
}
.box3-text {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    color: #1c1e20;
    display: block;
    font-weight: 400;
    font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
}
.box3-button {
    background: #1c1e20;
	border: 2px solid #1c1e20;
	border-radius: 24px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 600;
	height: 48px;
	line-height: 28px;
	min-width: 48px;
	overflow: hidden;
	padding: 8px 40px;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	transition: background-color 500ms, border-color 500ms, opacity 500ms;
	-webkit-user-select: none;
	vertical-align: bottom;
	white-space: nowrap;
	width: auto;
}
.box3-button1 {
    background: #1574d4;
	border-color: #1574d4;
	color: #fff;
}
.box3-button1:hover {
    background: #148aff;
	border-color: #148aff;
} 
.content1-box3 a, .content1-box3 a:hover, .content1-box3 a:visited  {
    text-decoration: none;
}

// ~~~~~~~~~~~~~~~~~ //
// 		Section 2    //
// ~~~~~~~~~~~~~~~~~ //
// .content2 {
//     display: inline-block;
// 	height: 100%;
// 	margin: 0 auto;
// 	width: 100%;
// }

.content2-box1 {
    background-color: #16181a;
	display: block;
	margin: 0 auto 0 auto;
	max-width: 1200px;
	min-height: 450px;
	position: relative;
	transition: width .3s ease, max-width .3s ease;
	width: 100%;
}
.content2-box1-img {
    bottom: 0;
	height: 100%;
	left: 0;
	object-fit: cover;
	opacity: .5;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.content2-box2 {
}
.content2-box2-module {
    align-items: center;
	display: flex;
	flex-direction: row;
    justify-content: center;
	height: 100%;
	position: relative;
	width: 100%;
}
.content2-box2-module-center {
    display: block;
	margin-bottom: 24px;
	margin-top: 24px;
	overflow: hidden;
	position: relative;
	width: auto;
}
.box2-center-p {
    color: #fff;
    font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 24px;
    margin: 0;
}
.box2-center-h1 {
    display: block;
	font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #fff;
}
.play-button {
    background-image: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Home+Component/home-playbutton.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -126px;
    height: 96px;
	width: 96px;
    display: inline-block;
	vertical-align: middle;
}

// ~~~~~~~~~~~~~~~~~ //
// 		Section 3    //
// ~~~~~~~~~~~~~~~~~ //
.con3 {
    padding-left: 40px;
    padding-right: 40px;
}
.content3 {
    display: inline-block;
	height: 100%;
	margin: 0 auto;
	width: 100%;
}
.con3>.content3 {
    max-width: 1260px;
}
.content3-box {
    align-items: center;
	display: flex;
	flex-direction: row;
    justify-content: center;
	height: 100%;
	position: relative;
	width: 100%;
}
.content3-box-center {
    display: block;
	margin-bottom: 24px;
	margin-top: 24px;
	overflow: hidden;
	position: relative;
	width: auto;
}
.content3-center-textbox {
    visibility: visible;
}
.content3-center-h2 {
    display: block;
	font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
	margin-bottom: .5rem;
    font-weight: 100;
    line-height: 38px;
    color: #1c1e20;
}
.content3-center-p {
    margin: 0;
    line-height: 24px;
    display: block;
    font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
}

// ~~~~~~~~~~~~~~~~~ //
// 		Section 4    //
// ~~~~~~~~~~~~~~~~~ //
.content-box {
    display: inline-block;
	height: 100%;
	margin: 0 auto;
	width: 100%;
}
.content4-top {
    position: absolute;
	top: -70px;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.6;
}
.content4-top-img {
    width: 100%;
    background-position: center center;
	background-size: cover;
	height: 100%;
	background-image: url('https://s3-us-west-1.amazonaws.com/devmtn-oculus/Home+Component/home-content4-img.jpg');
}
.content4-center {
    display: block;
	margin-bottom: 24px;
	margin-top: 24px;
	overflow: hidden;
	position: relative;
	width: auto;
}
.content4-center-div {
    opacity: 1;
	transform: translate(0px, 0px);
	transition: opacity 1000ms, transform 1000ms;
}
.content4-center-textbox {
    visibility: visible;
}
.content4-center-h2 {
    display: block;
	font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
	margin-bottom: .5rem;
    margin-top: 0;
    font-size: 30px;
	font-weight: 100;
	line-height: 38px;
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
}
.content4-center-p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    display: block;
	font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
}
.content4-center-a {
    background: none;
	border: 2px solid #1c1e20;
	border-radius: 24px;
    border-color: #fff;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 600;
	height: 48px;
	line-height: 28px;
	min-width: 48px;
	overflow: hidden;
	padding: 8px 40px;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	transition: background-color 500ms, border-color 500ms, opacity 500ms;
	-webkit-user-select: none;
	vertical-align: bottom;
	white-space: nowrap;
	width: auto;
    -webkit-font-smoothing: subpixel-antialiased;
}
.content4-center-a:hover, .content4-center-a:focus {
    background: #fff;
	border-color: #fff;
	color: #323436;
}


// ~~~~~~~~~~~~~~~~~ //
// 		Section 5    //
// ~~~~~~~~~~~~~~~~~ //
.content5 {
    display: block;
	margin: 0;
	overflow: hidden;
	position: relative;
	width: auto;
}
.content5-box {
    display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	padding: 0;
}
.content5-half {
    box-sizing: border-box;
	float: left;
	min-height: 1px;
}

// Left side
.content5-half-left {
    background: #efefef;
	position: relative;
	display: inline-block;
	padding: 140px 0 180px 0;
	vertical-align: middle;
	width: 100%;
}
.content5-half-left-img {
    width: 100%;
}
.content5-half-left-box {
    align-items: center;
	display: flex;
	flex-direction: row;
    align-items: flex-end;
    justify-content: center;
	height: 100%;
	position: relative;
	width: 100%;
    position: absolute;
    top: 0;
}
.content5-left-textbox {
    display: block;
	margin-bottom: 24px;
	margin-top: 24px;
	overflow: hidden;
	position: relative;
	width: auto;
}

// Right side
.content5-half-right {
    background: #f5f5f5;
	position: relative;
	display: inline-block;
	padding: 140px 0 180px 0;
	vertical-align: middle;
	width: 100%;
}
.content5-half-right-img {
    width: 100%;
}
.content5-half-right-box {
    align-items: center;
	display: flex;
	flex-direction: row;
    align-items: flex-end;
    justify-content: center;
	height: 100%;
	position: relative;
	width: 100%;
    position: absolute;
    top: 0;
}
.content5-right-textbox {
    display: block;
	margin-bottom: 24px;
	margin-top: 24px;
	overflow: hidden;
	position: relative;
	width: auto;
}

// Both
.content5-half-textbox-h2 {
    display: block;
	font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
    margin: 0 0 40px 0;
    font-size: 40px;
    font-weight: 100;
    line-height: 38px;
    color: #1c1e20;
}
.content5-half-textbox-a {
    background: none;
	border: 2px solid #1c1e20;
	border-radius: 24px;
	box-sizing: border-box;
	color: #323436;
	cursor: pointer;
	display: inline-block;
	font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 600;
	height: 48px;
	line-height: 28px;
	min-width: 48px;
	overflow: hidden;
	padding: 8px 40px;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	transition: background-color 500ms, border-color 500ms, opacity 500ms;
	-webkit-user-select: none;
	vertical-align: bottom;
	white-space: nowrap;
	width: auto;
}
.content5-half-textbox-a:hover, .content5-half-textbox-a:focus {
    background: #1c1e20;
	border-color: #1c1e20;
	color: #fff;
}


// ~~~~~~~~~~~~~~~~~ //
// 	 Media Queries   //
// ~~~~~~~~~~~~~~~~~ //
@media screen and (min-width: 1000px) {
    .content2-box1-img {
        opacity: 1;
    }
}
@media screen and (min-width: 767px) {
    .content2-box1 {
        padding-top: 20%;
    }

}