<div class="page-wrapper">
<!--Section 1-->
  <section class="section1">
    <div class="section1-top"></div>
    <div class="section1-container">
      <div class="section1-container-div" style="transition-delay: 0ms;">
        <div class="section1-container-div-product"></div>
        <p class="section1-container-div-p">
          Your Samsung GALAXY smartphone can take you to another world with Gear VR. 
          It’s virtual reality, anytime, anywhere.
        </p>
        <a class="section1-container-button" href="#">
          <span class="section1-container-button-span">Order Now</span>
        </a>
      </div>
    </div>
  </section>

<!--Section 2-->
  <section class="section2">
    <div class="section2-container">
      <div class="section2-container-content">
        <p class="section2-content-p">
          Customer safety is our top priority. Oculus is removing support for all Note7 devices on the 
          Oculus platform. Until further notice, Note7 devices will not be compatible with the Gear VR. 
          For more information regarding the Note7, please visit Samsung’s <a class="section2-content-a" href="">information page</a> or
          contact Samsung directly.
        </p>
      </div>
    </div>
  </section>

<!--Section 3-->
<section class="section3">
  <div class="section3-bg"></div>
  <div class="section3-container">
    <div class="section3-container-content">
      <h2 class="section3-container-content-h2" style="transition-delay: 25ms;">Unlock your phone's hidden power</h2>
      <p class="section3-container-content-p" style="transition-delay: 25ms;">
        Gear VR is compatible with the Samsung GALAXY flagship smartphones. 
        Just snap your phone into Gear VR and you're in virtual reality.
      </p>
    </div>

    <div class="section3-container-phones">
      <div class="section3-container-phone s3-s7 s3-phones" style="transition-delay: 50ms;">
        <span>Galaxy S7, S7 edge</span>
      </div>
      <div class="section3-container-phone s3-s6 s3-phones" style="transition-delay: 75ms;">
        <span>Galaxy S6, S6 edge, S6 edge +</span>
      </div>
      <div class="section3-container-phone s3-note5 s3-phones" style="transition-delay: 100ms;">
        <span>Galaxy Note5</span>
      </div>
    </div>
  </div>
</section>
</div>