<div class="page-wrapper">
<!--Section 1-->
  <section class="section1">
    <div class="section1-top"></div>
    <div class="section1-container">
      <div class="section1-container-div" style="transition-delay: 0ms;">
        <div class="section1-container-div-product"></div>
        <p class="section1-container-div-p">
          Your Samsung GALAXY smartphone can take you to another world with Gear VR. 
          It’s virtual reality, anytime, anywhere.
        </p>
        <a class="section1-container-button" [routerLink]="['/cart']">
          <span class="section1-container-button-span">Order Now</span>
        </a>
      </div>
    </div>
  </section>

<!--Section 2-->
  <section class="section2">
    <div class="section2-container">
      <div class="section2-container-content">
        <p class="section2-content-p">
          Customer safety is our top priority. Oculus is removing support for all Note7 devices on the 
          Oculus platform. Until further notice, Note7 devices will not be compatible with the Gear VR. 
          For more information regarding the Note7, please visit Samsung’s <a class="section2-content-a" href="">information page</a> or
          contact Samsung directly.
        </p>
      </div>
    </div>
  </section>

<!--Section 3-->
  <section class="section3">
    <div class="section3-bg"></div>
    <div class="section3-container">
      <div class="section3-container-content">
        <h2 class="section3-container-content-h2" style="transition-delay: 25ms;">Unlock your phone's hidden power</h2>
        <p class="section3-container-content-p" style="transition-delay: 25ms;">
          Gear VR is compatible with the Samsung GALAXY flagship smartphones. 
          Just snap your phone into Gear VR and you're in virtual reality.
        </p>
      </div>

      <div class="section3-container-phones">
        <div class="section3-container-phone s3-s7 s3-phones" style="transition-delay: 50ms;">
          <span>Galaxy S7, S7 edge</span>
        </div>
        <div class="section3-container-phone s3-s6 s3-phones" style="transition-delay: 75ms;">
          <span>Galaxy S6, S6 edge, S6 edge +</span>
        </div>
        <div class="section3-container-phone s3-note5 s3-phones" style="transition-delay: 100ms;">
          <span>Galaxy Note5</span>
        </div>
      </div>
    </div>
  </section>

<!--Section 4-->
  <section class="section4">
    <div class="owl-carousel owl-theme owl-loaded" style="-123px;">
      <!--<div class="owl-stage-outer">
        <div class="owl-stage">
          <div class="owl-item cloned" style="width: 1440px; margin-right: 0px;">
            <a href="#">
              <div class="carousel__slide discover" style="background-image: url('https://static.oculus.com/web/www_static/production/US/1b2690a6efbe1b8e4685a1e6973c009440c2e19c/images/gearvr/game-content/desktop/04_Discover.jpg')"></div>
            </a>
          </div>

          <div class="owl-item cloned" style="width: 1440px; margin-right: 0px;">
            <a href="#">
              <div class="carousel__slide jaunt" style="background-image: url('https://static.oculus.com/web/www_static/production/US/1b2690a6efbe1b8e4685a1e6973c009440c2e19c/images/gearvr/game-content/desktop/05_Jaunt.jpg')"></div>
            </a>
          </div>
        </div>
      </div>-->
      <img src="https://static.oculus.com/web/www_static/production/US/1b2690a6efbe1b8e4685a1e6973c009440c2e19c/images/gearvr/game-content/desktop/04_Discover.jpg" alt="" style="width: 100%;">

      <div class="owl-controls">
        <div class="owl-nav">
          <div class="owl-prev" style="display: none;"></div>
          <div class="owl-next" style="display: none;"></div>
        </div>
        <div class="owl-dots">
          <div xmlns="http://www.w3.org/1999/xhtml" class="owl-dot active"><span></span></div>
          <div xmlns="http://www.w3.org/1999/xhtml" class="owl-dot"><span></span></div>
          <div xmlns="http://www.w3.org/1999/xhtml" class="owl-dot"><span></span></div>
          <div xmlns="http://www.w3.org/1999/xhtml" class="owl-dot"><span></span></div>
        </div>
      </div>
    </div>
    <div class="section4-container">
      <div class="section4-container-content">
        <h2 class="section4-container-h2">Download revolutionary games and experiences</h2>
        <p class="section4-container-p">
          It's easy to transport yourself with Gear VR. Whether you want to play a game, take a virtual vacation, or watch a movie, the possibilities with Gear VR are limitless.
        </p>
        <div class="section4-explore-button">
          <a class="section4-explore-a" href="#">Explore Now</a>
        </div>
      </div>
    </div>
  </section>

<!--Section 5-->
  <section class="section5">
    <div class="section5-bg mouse-movable">
      <div class="section5-bg-wrap">
        <img class="section5-image mouse-movable-item" data-mouse-movable-z="80" src="https://static.oculus.com/web/www_static/production/US/1b2690a6efbe1b8e4685a1e6973c009440c2e19c/images/gearvr/bg-1-background.jpg" alt="" style="width: 166.43%; height: 106%; left: -33.2148%; top: -3%; transform: translate(-0.0588791%, 1.30042%);" />
      </div>
      <div class="section5-bg-wrap">
        <img class="section5-image mouse-movable-item" data-mouse-movable-z="0" src="https://static.oculus.com/web/www_static/production/US/1b2690a6efbe1b8e4685a1e6973c009440c2e19c/images/gearvr/bg-1-foreground.png" alt="" style="width: 166.43%; height: 106%; left: -33.2148%; top: -3%; transform: translate(-0.032663%, 0.722455%);">
      </div>
    </div>
    <div class="section5-container">
      <div class="section5-container-content">
        <h2 class="section5-container-content-h2">The home theater of your dreams</h2>
        <p class="section5-container-content-p">
          Watching a movie in a VR theater is the next best thing to owning your own personal multiplex. Free from the distractions of the outside world, you’ll be completely immersed as you watch your favorite movies on a theater-sized scale.
        </p>
      </div>
      <div class="section5-container-background"></div>
    </div>
  </section>

<!--Section 6-->
  <section class="section6">
    <div class="section6-bg mouse-movable">
      <div class="section6-bg-wrap">
        <img class="section6-image mouse-movable-item" data-mouse-movable-z="80" src="https://static.oculus.com/web/www_static/production/US/1b2690a6efbe1b8e4685a1e6973c009440c2e19c/images/gearvr/bg-2-background.jpg" alt="" style="width: 166.43%; height: 106%; left: -33.2148%; top: -3%; transform: translate(0.0586969%, 13.4435%);" />
      </div>
      <div class="section6-bg-wrap">
        <img class="section6-image mouse-movable-item" data-mouse-movable-z="0" src="https://static.oculus.com/web/www_static/production/US/1b2690a6efbe1b8e4685a1e6973c009440c2e19c/images/gearvr/bg-2-midground.png" alt="" style="width: 166.43%; height: 106%; left: -33.2148%; top: -3%; transform: translate(-0.0303833%, 10.2908%);" />>
      </div>
    </div>
    <div class="section6-container">
      <div class="section6-container-content">
        <h2 class="section6-container-content-h2">Your new portable gaming system</h2>
        <p class="section6-container-content-p">
          Step inside the game with Gear VR and be a part of the action like you're really there. You can use your head movement to explore, aim, and interact – it's an entirely new way to play.
        </p>
      </div>
      <div class="section6-container-background"></div>
    </div>
  </section>
</div>